
<!-- Step Start -->
<div id="step-section" style="border-bottom: 7px solid #352504;">
  <div style="height: 55px;"></div>
  <div class="container">
   <div class="ui five medium steps" style="margin-top: 46px; margin-bottom: 35px;">
    <div class="ui disabled step">
      Start My Order
    </div>
    <div class="ui disabled step">
      <a style="text-decoration: none; color: #ccc" href="/catering/order/delivery">When &amp; Where</a>
    </div>
    <div class="ui disabled step">
      <a style="text-decoration: none; color: #ccc" href="/catering/order/menu">Food</a>
    </div>
    <div class="ui active step">
      <a style="text-decoration: none; color: #ccc" href="/catering/order/payment">Payment</a>
    </div>
    <div class="ui disabled step">
      <a style="text-decoration: none; color: #ccc" href="/catering/order/review">Review &amp; Confirm</a>
    </div>
  </div>
  <div style="height: 10px;"></div>
</div>
</div>
<!-- Step End -->

<div style="border-top: 7px solid #822421;">

<div style="height: 50px"></div>
<center><span>Please select one of the following three payment options that is most convenient for you!</span></center>
<div style="height: 30px"></div>
<div class="ui three column relaxed stackable page grid">
  <div class="equal height row">
    <div class="column" style="position: relative;">
      <table width="100%"><tr>
        <td><span style="font-size: 2.5em">1</span></td>
        <td><h2 class="ui dividing header">Pay Now</h2></td>
      </tr></table>
      <p> Pay now with a credit card. If you'd like, we'll save your credit card for future orders.</p>
      <div class="column"><a href="/catering/order/payment/continue?method=Card" class="ui fluid teal button bottom-button">Pay With Credit Card</a></div>
    </div>
    <div class="column" style="position: relative;">
      <table width="100%"><tr>
        <td><span style="font-size: 2.5em; padding-right: 15px">2</span></td>
        <td><h2 class="ui dividing header">Pay at Delivery</h2></td>
      </tr></table>
      <p> Pay with cash, or check when we deliver your food. Please make checks out to "David and Dad's Cafe"</p>
      <a href="/catering/order/payment/continue?method=Cash" class="ui fluid teal button bottom-button-split">Pay With Cash</a><a href="/catering/order/payment/continue?method=Check" style="right: 0; margin-right: 10px;" class="ui fluid teal button bottom-button-split">Pay With Check</a>
    </div>
    <div class="column">
      <table width="100%"><tr>
        <td><span style="font-size: 2.5em">3</span></td>
        <td><h2 class="ui dividing header">Pay By Invoice</h2></td>
      </tr></table>
      <p> You must have an account with us to be invoiced. Please call our catering department at (410)-547-0550 to setup an account.  <br>(You may do so before or after submitting your order - it's quick and easy!). </p>
      <div style="height: 15px"></div>
      <div class="column"><a href="/catering/order/payment/continue?method=Invoice" class="ui fluid teal button">Pay By Invoice</a></div>
    </div>
  </div>
</div>
<div style="height: 300px"></div>
</div>