
<div id="step-section">
  <div class="container">
   <div class="ui five medium steps" style="margin-top: 46px; margin-bottom: 35px;">
    <div class="ui disabled step">
      Start My Order
    </div>
    <div class="ui disabled step">
      When &amp; Where
    </div>
    <div class="ui disabled step">
      Food
    </div>
    <div class="ui active step">
      Payment
    </div>
    <div class="ui disabled step">
      Review &amp; Confirm
    </div>
  </div>
</div>
<div class="step-up-divider"></div>
</div>
<div style="height:30px" class="below-step"></div>

<div style="height: 30px"></div>
<center><span>Please select one of the following three payment options that is most convenient for you!</span></center>
<div style="height: 30px"></div>
<div class="ui three column relaxed stackable page grid">
  <div class="equal height row">
    <div class="column" style="position: relative;">
      <table width="100%"><tr>
        <td><span style="font-size: 2.5em">1</span></td>
        <td><h2 class="ui dividing header">Pay Now</h2></td>
      </tr></table>
      <p> Pay now with a credit card. If you'd like, we'll save your credit card for future orders.</p>
      <div class="column"><a href="/catering/order/payment/continue?method=card" class="ui fluid teal button bottom-button">Pay Now</a></div>
    </div>
    <div class="column" style="position: relative;">
      <table width="100%"><tr>
        <td><span style="font-size: 2.5em; padding-right: 15px">2</span></td>
        <td><h2 class="ui dividing header">Pay at Delivery</h2></td>
      </tr></table>
      <p> Pay with cash, or check when we deliver your food. Please make checks out to "David and Dad's Cafe"</p>
      <div class="column"><a href="/catering/order/payment/continue?method=cash" class="ui fluid teal button bottom-button">Pay at Delivery</a></div>
    </div>
    <div class="column">
      <table width="100%"><tr>
        <td><span style="font-size: 2.5em">3</span></td>
        <td><h2 class="ui dividing header">Pay By Invoice</h2></td>
      </tr></table>
      <p> You must have an account with us to be invoiced. Please call our catering department at (410)-547-0550 to setup an account.  <br>(You may do so before or after submitting your order - it's quick and easy!). </p>
      <div style="height: 15px"></div>
      <div class="column"><a href="/catering/order/payment/continue?method=invoice" class="ui fluid teal button">Pay By Invoice</a></div>
    </div>
  </div>

  <div style="height: 150px"></div>
</div>
