<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <title><%- title %></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/min/blessed_production_w40wnnB4.1.css">
  <link rel="stylesheet" href="/min/blessed_production_w40wnnB4.css">
  <!--STYLES END-->
</head>

<body style="font-family: 'Montserrat', sans-serif">

<%- body %>

  <!--SCRIPTS-->
  <script src="/min/production_w40wnnB4.js"></script>
  <!--SCRIPTS END-->

</body>
</html>
