<center>

<h1 style="font-size: 5em;">Welcome, <%= req.session.User.name.split(" ")[0] %></h1>

<div style="height:30px">
</div>
<div class="ui page grid">
<div class="column">
        <% if(flash && flash.err) { %>
          <% if(flash.type == 'success') { %>
            <div class="ui success message">
          <% } else { %>
            <div class="ui warning message">
          <% } %>
              <div class="header"><%= flash.err['name'] %></div>
              <p><%= flash.err['err'] %></p>
            </div>
        <% } %>
</div>
</div>

</center>