<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <title>David and Dad's Cafe</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/min/production_v2.css">
  <!--STYLES END-->
</head>

<body style="font-family: 'Montserrat', sans-serif">

<div class="ui inverted menu" style="position: fixed; top: 0; width: 100%; z-index: 25">
  <div class="menu">
    <a class="active item" href="/admin">
      David and Dad's Admin
    </a>
    <a class="item" href="/admin/menu">
      <i class="browser icon"></i>
      Edit Menus
    </a>
    <a class="item" href="/admin/specials">
      <i class="sun icon"></i>
      Edit Specials
    </a>
    <a class="item" href="/user">
      <i class="users icon"></i>
      View Users
    </a>
    <a class="item" href="/admin/messages">
      <i class="file text icon"></i>
      Edit Pages
    </a>
    <div class="right menu">
      <div class="ui item">
      <span> Admin David </span>
      </div>
      <div class="ui item">
        <a class="ui red button" href="/session/destroy">Logout</a>
      </div>
    </div>
  </div>
  </div>

  <div style="height: 70px">
  </div>

<%- body %>

  <!--SCRIPTS-->
  <script src="/min/production_v2.js"></script>
  <!--SCRIPTS END-->

</body>
</html>