<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <title>David and Dad's Cafe</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/min/blessed_production_RqC8U3DR.1.css">
  <link rel="stylesheet" href="/min/blessed_production_RqC8U3DR.css">
  <!--STYLES END-->
</head>

<body style="font-family: 'Montserrat', sans-serif">

<div class="ui inverted stackable menu" style="position: fixed; top: 0; width: 100%; z-index: 25">
  <div class="menu">
    <a class="active item" href="/admin">
      David and Dad's Admin
    </a>
    <% if (req.session.User.permissions.menu && req.session.User.permissions.menu.length) {%>
    <a class="item" href="/admin/menu">
      <i class="browser icon"></i>
      Edit Menus
    </a>
    <% } %>
    <% if (req.session.User.permissions.specials && req.session.User.permissions.specials.length) {%>
    <a class="item" href="/admin/specials">
      <i class="sun icon"></i>
      Edit Specials
    </a>
    <% } %>
    <% if (req.session.User.permissions.user && req.session.User.permissions.user.length) {%>
    <a class="item" href="/user">
      <i class="users icon"></i>
      View Users
    </a>
    <% } %>
    <% if (req.session.User.permissions.page && req.session.User.permissions.page.length) {%>
    <a class="item" href="/admin/messages">
      <i class="file text icon"></i>
      Edit Pages
    </a>
    <% } %>
    <% if (req.session.User.permissions.admin && req.session.User.permissions.admin.length) {%>
    <a class="item" href="/admin/lookup">
      <i class="payment icon"></i>
      Card Lookup
    </a>
    <% } %>
    <div class="right menu">
      <div class="ui item">
      <span> Admin <%= req.session.User.name.split(" ")[0] %> </span>
      </div>
      <div class="ui item">
        <a class="ui red button" href="/session/destroy">Logout</a>
      </div>
    </div>
  </div>
  </div>

  <div style="height: 70px">
  </div>

<%- body %>

  <!--SCRIPTS-->
  <script src="/min/production_RqC8U3DR.js"></script>
  <!--SCRIPTS END-->

</body>
</html>