<div class="ui page grid">
<div class="column">

<center>
  <h1 class="ui header" style="font-size: 2.5em"> Edit Messages </h1>
  <div style="height:50px">
  </div>
  <div class="ui five column page grid">
    <div class="column">
      <a class="ui fluid large green button" href="/admin/messages/home">Home</a>
    </div>
    <div class="column">
      <a class="ui fluid large green button" href="/admin/messages/jobs">Jobs</a>
    </div>
    <div class="column">
      <a class="ui fluid large green button" href="/admin/messages/contact">Contact Us</a>
    </div>
    <div class="column">
      <a class="ui fluid large green button" href="/admin/messages/news">News</a>
    </div>
    <div class="column">
      <a class="ui fluid large green button" href="/admin/messages/press">Press</a>
    </div>
  </div>
</center>

</div>
</div>