<div class="ui grid">
<div class="column">

<center>
  <h1 class="ui header" style="font-size: 2.5em"> Edit Daily Specials </h1>
  <div style="height:50px">
  </div>
  <div class="ui four column page grid">
    <div class="column">
      <a class="ui fluid huge blue button" href="/admin/specials/charles">Charles St. Cafe</a>
    </div>
    <div class="column">
      <a class="ui fluid huge blue button" href="/admin/specials/fayette">David and Dad's Express</a>
    </div>
    <div class="column">
      <a class="ui fluid huge blue button" href="/admin/specials/pratt">Cafe Express</a>
    </div>
    <div class="column">
      <a class="ui fluid huge blue button" href="/admin/specials/broadway">Garden View Cafe</a>
    </div>
  </div>
</center>

</div>
</div>