########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


########################
# local config
########################

########################
# misc
########################
ignore/
assets/images/
*.txt
*.py
ssl/
nginx/

# 
invoices/*.html
invoices/*.archive
customer_copies/
current_version
views/layout.ejs
views/home/home-layout.ejs
views/admin/layout.ejs
views/admin/empty-layout.ejs
