<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <title>David and Dad's Cafe</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/min/production_v2.css">
  <!--STYLES END-->
</head>

<body>

  <div id="header-section" style="position:relative">
    <header id="header">
      <div class="ui center aligned top aligned five column page grid">
        <div class="column">
          <a href="/" class="navbar-item">Home</a>
        </div>
        <div class="column">
          <a href="/main" class="navbar-item">Main Caf&eacute;</a>
        </div>
        <div class="column">
          <img src="/images/circle.png" height="90%" width="90%" id="circle-logo">
        </div>
        <div class="column">
          <a href="/catering" class="navbar-item">Catering</a>
        </div>
        <div class="column">
          <a href="/express" class="navbar-item">Express <span class="removable">Caf&eacute;s</span></a>
        </div>
      </div>
    </header>
  </div>

  <%- body %>
<div id="city">
  </div>
  <div class="ui inverted dark-brown page grid" id="footer">
    <div class="ui stackable grid">
      <div class="row">
        <div class="twelve wide column">
          <h1 class="footer-header ui dividing header"> Our Locations </h1>
        </div>
        <div class="four wide column">
          <h1 class="footer-header ui dividing header"> Our Company </h1>
        </div>
      </div>
      <div class="row">
        <div class="three wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">D&amp;D Cafe</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> Cathedral Hill </span></div>
            <div class="item"><span class="footer-item"> 334 N. Charles St.</span></div>
            <div class="item"><span class="footer-item"> Baltimore, MD 21201</span></div>
            <div class="item"><span class="footer-item"> (410)-547-0550</span></div>
            <div class="item"><span class="footer-item"> 6:30am - 4:00pm M - F</span></div>
            <div class="item"><span class="footer-item"> 8:00am - 2:00pm S</span>
              <div class="green-dot" id="main-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">Cafe Express</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> T. Rowe Price Bldg. </span></div>
            <div class="item"><span class="footer-item">  Light St. Entrance </span></div>
            <div class="item"><span class="footer-item"> 100 East Pratt St.</span></div>
            <div class="item"><span class="footer-item"> Baltimore, MD 21201</span></div>
            <div class="item"><span class="footer-item"> (410)-385-6267</span></div>
            <div class="item"><span class="footer-item"> 7:00am - 3:00pm M - F </span>
              <div class="green-dot" id="pratt-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">D&amp;D Express</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> Blaustein Building</span></div>
            <div class="item"><span class="footer-item"> At Charles and Fayette</span></div>
            <div class="item"><span class="footer-item"> 1 N. Charles St.</span></div>
            <div class="item"><span class="footer-item"> Baltimore, MD 21201</span></div>
            <div class="item"><span class="footer-item"> (410)-637-4840</span></div>
            <div class="item"><span class="footer-item"> 6:30am - 3:00pm M - F </span>
              <div class="green-dot" id="fayette-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">Garden View Cafe</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> 2nd Floor Kennedy Krieger Institute</span></div>
            <div class="item"><span class="footer-item"> 801 N. Broadway</span></div>
            <div class="item"><span class="footer-item"> Baltimore, MD 21205</span></div>
            <div class="item"><span class="footer-item"> (443)-923-9480</span></div>
            <div class="item"><span class="footer-item"> 7:00am - 4:00pm M - F</span>
              <div class="green-dot" id="broadway-dot"></div>
            </div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> <a href="/contact" style="text-decoration: none; color: #F5D894;">Contact Us</a></span></div>
            <div class="item"><span class="footer-item"> <a href="/jobs" style="text-decoration: none; color: #F5D894;">Jobs</a></span></div>
            <div class="item"><span class="footer-item"> <a href="/press" style="text-decoration: none; color: #F5D894;">Press</a></span></div>
            <div class="item"><span class="footer-item"> <a href="/news" style="text-decoration: none; color: #F5D894;">News</a></span></div>
            <div class="item">
              <span class="footer-item"> <a href="https://www.facebook.com/davidanddadscafe" style="text-decoration: none; color: #F5D894;"><img style="margin-right: 15px" src="/icons/facebook.png" height="30px" width="30px"> Visit us on Facebook!</a></span>
            </div>
            <div class="item"><span class="footer-item"><a href="/humans.txt"><img src="/icons/humans.png"/></a></span></div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="column">
          <center>
            <span style="color: #F5D894;">&copy; 2014 David and Dad's, Inc.</span>
          </center>
        </div>
      </div>
    </div>
  </div>

  <!--SCRIPTS-->
  <script src="/min/production_v2.js"></script>
  <!--SCRIPTS END-->

</body>
</html>
