<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <link
  href='https://fonts.googleapis.com/css?family=Walter+Turncoat|Coming+Soon|Rock+Salt|Homemade+Apple'
  rel='stylesheet' type='text/css'>
  <title>David and Dad's Cafe</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/linker/styles/normalize.css">
  <link rel="stylesheet" href="/linker/styles/bootstrap.css">
  <link rel="stylesheet" href="/linker/styles/card.css">
  <link rel="stylesheet" href="/linker/styles/custom.css">
  <link rel="stylesheet" href="/linker/styles/datetimepicker.min.css">
  <link rel="stylesheet" href="/linker/styles/dropdown.css">
  <link rel="stylesheet" href="/linker/styles/fa.min.css">
  <link rel="stylesheet" href="/linker/styles/semantic.css">
  <!--STYLES END-->
</head>

<% if (body.indexOf("overlay-container") != -1) { %>
<body style="overflow:hidden">
<% } else { %>
<body>
<% } %>

  <div id="header-section" style="position:relative">
    <header id="header">
      <div class="ui center aligned top aligned five column page grid">
        <div class="column">
          <a href="/" class="navbar-item">Home</a>
        </div>
        <div class="column">
          <a href="/main" class="navbar-item">Main Caf&eacute;</a>
        </div>
        <div class="column">
          <a href="/catering" class="navbar-item">Catering</a>
        </div>
        <!--
        <div class="column">
          <img src="/images/new_logo.png" height="70%" width="70%" id="circle-logo">
        </div>
        -->

        <div class="column">
          <a href="/express" class="navbar-item"><span class="removable">Caf&eacute;</span>&nbsp;Express</a>
        </div>
        <div class="column">
          <a href="/virtualcafe" class="navbar-item">Virtual Caf&eacute;</a>
        </div>
      </div>
    </header>
  </div>

  <%- body %>
<div id="city">
  </div>
  <div class="ui inverted dark-brown page grid" id="footer">
    <div class="ui stackable grid">
      <div class="row">
        <div class="twelve wide column">
          <h1 class="footer-header ui dividing header"> Our Locations </h1>
        </div>
        <div class="four wide column">
          <h1 class="footer-header ui dividing header"> Our Company </h1>
        </div>
      </div>
      <div class="row">
        <div class="four wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">D&amp;D Cafe</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> Center City </span></div>
            <div class="item"><span class="footer-item"> 115 N. Charles St.</span></div>
            <div class="item"><span class="footer-item"> Baltimore, MD 21201</span></div>
            <div class="item"><span class="footer-item"> (410)-547-0550</span></div>
            <div class="item"><span class="footer-item"> 6:30am - 8:00pm M - F</span></div>
            <div class="item"><span class="footer-item"> 8:00am - 1:00pm S</span>
              <div class="green-dot" id="main-dot"></div>
            </div>
          </div>
        </div>
        <div class="four wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">Cafe Express</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> T. Rowe Price Bldg. </span></div>
            <div class="item"><span class="footer-item">  Light St. Entrance </span></div>
            <div class="item"><span class="footer-item"> 100 East Pratt St.</span></div>
            <div class="item"><span class="footer-item"> Baltimore, MD 21201</span></div>
            <div class="item"><span class="footer-item"> (410)-385-6267</span></div>
            <div class="item"><span class="footer-item"> 7:00am - 2:30pm M - F </span>
              <div class="green-dot" id="pratt-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">Catering</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> Catering</span></div>
            <div class="item"><span class="footer-item"> (410)-547-0550</span></div>
            <div class="item"><span class="footer-item"> <a href="mailto:catering@davidanddads.com">catering@davidanddads.com</a></span></div>
          </div>
        </div>
        <div class="one wide column">
        </div>
        <div class="four wide column">
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> <a href="/policy" style="text-decoration: none; color: #F5D894;">Our Policies</a></span></div>
            <div class="item"><span class="footer-item"> <a href="/contact" style="text-decoration: none; color: #F5D894;">Contact Us</a></span></div>
            <div class="item"><span class="footer-item"> <a href="/jobs" style="text-decoration: none; color: #F5D894;">Jobs</a></span></div>
            <div class="item"><span class="footer-item"> <a href="/press" style="text-decoration: none; color: #F5D894;">Press</a></span></div>
            <div class="item"><span class="footer-item"> <a href="/news" style="text-decoration: none; color: #F5D894;">News</a></span></div>
            <div class="item">
              <span class="footer-item"> <a href="https://www.facebook.com/davidanddadscafe" style="text-decoration: none; color: #F5D894;"><img style="margin-right: 15px" src="/icons/facebook.png" height="30px" width="30px"> Visit us on Facebook!</a></span>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="column">
          <center>
            <span style="color: #F5D894;">&copy; 2019 David and Dad's, Inc.</span>
          </center>
					<span id="virtual-js-id" style="bottom: 0;right: 0;position:fixed;color:#F5D894;">########</span>
        </div>
      </div>
    </div>
  </div>

  <!--SCRIPTS-->
  <script src="/linker/js/socket.io.js"></script>
  <script src="/linker/js/sails.io.js"></script>
  <script src="/linker/js/jquery.js"></script>
  <script src="/linker/js/app.js"></script>
  <script src="/linker/js/semantic.js"></script>
  <script src="/linker/js/simpleCart.js"></script>
  <script src="/linker/js/waypoints.js"></script>
  <script src="/linker/js/waypoints-sticky.js"></script>
  <script src="/linker/js/moment.min.js"></script>
  <script src="/linker/js/admin2.js"></script>
  <script src="/linker/js/bootstrap.js"></script>
  <script src="/linker/js/button.js"></script>
  <script src="/linker/js/card.js"></script>
  <script src="/linker/js/datetimepicker.js"></script>
  <script src="/linker/js/dropdown.js"></script>
  <script src="/linker/js/form3.js"></script>
  <script src="/linker/js/menu2.js"></script>
  <script src="/linker/js/open.js"></script>
  <script src="/linker/js/polyfills.js"></script>
  <script src="/linker/js/submit.js"></script>
  <script src="/linker/js/virtualcafe.js"></script>
  <!--SCRIPTS END-->

</body>
</html>
