@font-face {
    font-family: 'museo';
    src: url('../../fonts/museo/Museo_Slab_500_2-webfont.eot');
    src: url('../../fonts/museo/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/museo/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('../../fonts/museo/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('../../fonts/museo/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'mel';
  src: url('../../fonts/melbourne/melbourne.otf');
  font-weight: normal;
  font-style: normal;
}

html, body {
	font-size: 15px;
	height: 100%;
  margin: none;
  padding: none;
  width: 100%;
  overflow-x:hidden;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  background: url("../../images/cream-tile.png") repeat;
  margin: 0px;
  color: #39342e;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.masthead.segment {
      background-image: url(../../images/cafe.jpg);
    -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  height: 500px;
}

.roomy-button {
  margin-left:10px;
  margin-right:10px;
  font-size: 1.15em;
}

.jumbotron {
  text-align: center;
}

.jumbotron h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

.container {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
}

.title {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 30px;
}

td, th {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.stuck {
  top: 30px;
  position: fixed;
}

.ui.button.change.active {
  background-color: #5BBD72!important;
  color: #FFF!important;
}

.item_name {
  color: #F05940;
}

#quantity-box {
  width: 100px;
  float: right;
}

.dark-brown {
  background-color: #39342e !important;
  color: #FFFFFF !important;
}

.home-button {
  background-color: #413c35;
  color: #f8f5ec;
  text-decoration: none;
  font-size: 2em;
  border-radius: 25px;
  padding: 15px;
}

.down-divider {
  background: url("../../images/divider-down.png") repeat;
  width: 100%;
  left: 0;
  height: 11px;
  bottom: -11px;
  position: absolute;
}

.up-divider {
  background: url("../../images/divider-up.png") repeat;
  width: 100%;
  left: 0;
  height: 11px;
  top: -11px;
  position: absolute;
}

.navbar-item {
  font-family: 'mel';
  font-size: 1.75em;
  color: #39342e;
  text-decoration: none;
}

.navbar-item:hover {
  border-bottom: 3px solid #39342e;
  color: #F05940;
  text-decoration: none;
}

#footer {
  box-shadow: 0px -1px 3px #313131;
}
#home-section1 {
  width: 100%;
  height: 600px;
  background: url("../../images/pastries-light.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 6px #313131;
}

#section-2 {
  width: 100%;
  height: 400px;
  background: url("../../images/cream-tile.png") repeat;
}

.breakfast-specials {
  width: 100%;
  background: url("../../images/green_cup.png") repeat; 
  height: 600px;
}

.lunch-specials {
  width: 100%;
  background: url('../../images/cream-tile.png') repeat;
  height: 1000px;

}

#header-section {
  width:100%;
  height: 55px;
  background: url("../../images/cream-tile.png") repeat;
}

#section-3 {
  width: 100%;
  height: 400px;
  background: url("../../images/food.png") repeat;
}

#step-section { 
  width: 100%;
  height: 900px;
  background: url("../../images/unsplash_macaroons.jpg");
}

.simpleCart_shelfItem {
  box-shadow: 1px 1px 3px #313131!important;
}

.ui.five.medium.steps {
  box-shadow: 1px 1px 3px #514b4b;
}

#footer {
  padding-top: 10px;
  padding-bottom: 20px;
}

#footer .ui.dividing.header {
  font-family: 'mel';
  font-weight: none;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #F05940;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)!important;
}

.red-dot {
  background: #D93A3A;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 10px;
}

#city {
  height: 100px;
  margin-bottom: -11px;
  background: url("../../images/city-outline.png");
  background-repeat: no-repeat;
}