@font-face {
    font-family: 'museo';
    src: url('../../fonts/museo/Museo_Slab_500_2-webfont.eot');
    src: url('../../fonts/museo/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/museo/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('../../fonts/museo/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('../../fonts/museo/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'mel';
  src: url('../../fonts/melbourne/Melbourne_reg.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mel';
  src: url('../../fonts/melbourne/Melbourne_bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url('../../fonts/BebasNeue_Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'simplifica';
  src: url('../../fonts/simplifica.ttf');
  font-weight: normal;
  font-style: normal;
}

@ground: #352504;
@blush: #822421;
@beacon: #B6A47C;
@bean: #2F2116;
@chili: #F5D894;

html, body {
  font-size: 15px;
  height: 100%;
  margin: none;
  padding: none;
  width: 100%;
}

body {
  font-family: 'Source Sans Pro';
  font-size: 1.1em;
  background-color: @chili;
  color: @ground;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}


.double-divider::before {
  left: 5%;
  margin-left: -1.5rem;
}

.double-divider::after {
  left: auto;
  right: 5%;
  margin-right: -1.5rem;
}

.double-divider::before, .double-divider::after {
  position: absolute;
  content: " ";
  z-index: 3;
  width: 23%;
  top: 50%;
  height: 0%;
  border-top: 5px double #313131;
  border-bottom: none;
}

.sub-header {
  position: relative;
  top: 0%;
  left: 0%;
  margin: 1rem 1.5rem;
  height: auto;
  padding: 0em;
  line-height: 1;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: @ground;
}

.section-header {
  font-family: 'bebas';
  font-size: 3.5em;
  border-bottom: 2px solid @blush;
  padding-bottom: 10px;
  padding-top: 40px;
  text-align: center;
  color: @blush;
}

.section-desc {
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  border-bottom: 2px solid @blush;
  padding-bottom: 20px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 120%;
  color: @ground;
}

.contact-desc {
  border-left: 3px solid #313131;
  padding-left: 20px;
}

.menu-item {
  padding: 25px;
}

.menu-item .item-name {
  font-family: 'bebas', sans-serif;
  font-size: 1.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu-item .item-price {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0em;
  float: right;
  text-align: right;
}

.menu-item .item-desc {
  font-family: 'mel', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  padding-right: 20%;
  white-space: pre-wrap;
}

.roomy-button {
  margin-left:10px;
  margin-right:10px;
  font-size: 1.15em;
}

.container {
  font-family: 'Source Sans Pro';
  font-size: 1.1em;
}

.menu-title {
  text-align: center;
  font-family: 'bebas';
  font-size: 5.0em;
  margin-top: 30px;
  /*text-shadow: 2px 2px 0 #fff,4px 4px 0 @blush;*/
}

.spaced-table td, .spaced-table th {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.stuck-leftbar {
  top: 55px;
  position: fixed;
}

.field {
	font-size:1.2em;
}

.stuck-topbar {
  top: 0px;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 25
}

.sticky-topbar b, .sticky-topbar a, .sticky-topbar span, .sticky-topbar .button {
  font-size: 1.0em;
}

.sticky-leftbar a {
  font-size: 0.85rem!important;
}

.delivery-option {
  border: 7px solid #ffffff;
}

.delivery-option.active {
  border: 7px solid #5BBD72;
}

.ui.button.delivery-change {
  background-color: #5BBD72!important;
  color: #FFF!important;
}

.payment-option {
  border: 7px solid #ffffff!important;
}

.payment-option.active {
  border: 7px solid #5BBD72!important;
}

.ui.button.payment-change {
  background-color: #5BBD72!important;
  color: #FFF!important;
}

.item_name {
  color: @blush;
}

#quantity-box {
  width: 100px;
  float: right;
}

.dark-brown {
  background-color: @bean !important;
  color: #FFFFFF !important;
}

.light-brown {
  background-color: #562D0F!important;
  color: #FFFFFF !important;
}

.home-button {
  background-color: #413c35;
  color: #f8f5ec;
  text-decoration: none;
  font-size: 2em;
  border-radius: 25px;
  padding: 15px;
}

.warning-border {
  border-left: 5px solid #E75859;
  padding-left: 10px;
}

.instruction-left {
  border-left: 4px solid #F05940;
  padding-left: 10px;
}

.navbar-item {
  font-family: 'bebas';
  font-size: 1.4em;
  color: @chili;
  text-decoration: none;
}

.navbar-item:hover {
  border-bottom: solid 3px @ground;
  color: @chili;
  text-decoration: none;
}

#home-section1 {
  width: 100%;
  background: url("../../images/baltimore.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../images/baltimore.png',
        sizingMethod='scale');

}

#main-section1 {
  width: 100%;
  min-height: 550px;
  background: url("../../images/bgs/potpie.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../images/bgs/potpie.jpg',
        sizingMethod='scale');

  border-bottom: 7px solid @ground;
}

#catering-section1 {
  width: 100%;
  min-height: 550px;
  background: url("../../images/bgs/fruit_salad.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../images/fruit_salad.jpg',
        sizingMethod='scale');

  border-bottom: 7px solid @ground;
}

#virtual-section1 {
  width: 100%;
  min-height: 550px;
  background: url("../../images/baltimore.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../images/baltimore.jpg',
        sizingMethod='scale');

  border-bottom: 7px solid @ground;

}

#virtual-start {
  border-top: 7px solid @blush;
}

#cafe-front-1 {
  background: url("../../images/IMG_2129.JPG") bottom center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../images/IMG_2129.JPG',
        sizingMethod='scale');

  border-right: 7px solid @blush;
  border-left: 7px solid @ground;
}

#cafe-front-2 {
  background: url("../../images/IMG_2216.JPG") bottom center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../images/IMG_2216.JPG',
        sizingMethod='scale');

  border-right: 7px solid @ground;
  border-left: 7px solid @ground;
}

#cafe-front-3 {
  background: url("../../images/IMG_2214.JPG") top center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='i../../images/IMG_2214.JPG',
        sizingMethod='scale');

  width: 34%;
  border-right: 7px solid @ground;
  border-left: 7px solid @blush;
}

#catering-1 {
  background: url("../../images/bgs/sandwiches.jpg") bottom center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../images/bgs/sandwiches.jpg',
        sizingMethod='scale');

  border-right: 7px solid @blush;
  border-left: 7px solid @ground;
}

#catering-2 {
  background: url("../../images/IMG_2124.JPG") bottom center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../images/bgs/IMG_2124.JPG',
        sizingMethod='scale');

  border-right: 7px solid @ground;
  border-left: 7px solid @ground;
}

#catering-3 {
  background: url("../../images/bgs/veggies.jpg") top center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../images/bgs/veggies.jpg',
        sizingMethod='scale');

  width: 34%;
  border-right: 7px solid @ground;
  border-left: 7px solid @blush;
}


.three-picture {
  width: 33%;
  height: 300px;
  float: left;
}

#welcome {
  width: 100%;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 5px 2px 10px 10px #313131;
  z-index: 0;
}

#catering-how-it-works {
  width: 100%;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 20px;
  z-index: 0;
  border-top: 7px solid @ground;
  border-bottom: 7px solid @blush;
}

/*#catering-reminder {
  width: 100%;
  min-height: 200px;
  padding-top: 40px;
  padding-bottom: 20px;
  z-index: 0;
}*/

#catering-reviews {
  border-top: 7px solid @blush;
  padding-top: 40px;
}

#reviews {
  width: 100%;
  height: 650px;
padding-top: 30px;
padding-bottom: 30px;
background-color: #fff;
}

#feedback {
  width: 100%;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#express-section1 {
  width: 100%;
  min-height: 250px;
  z-index: 0;
  background: url("../../images/bgs/coffee_cup.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../images/bgs/coffee_cup.jpg',
        sizingMethod='scale');

  border-bottom: 7px solid @ground;
}

#section-2 {
  width: 100%;
  height: 400px;
}

#main-hours-section {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  min-height: 450px;
  box-shadow: 5px 1px 10px #313131;
  z-index: 0;
  border-top: 7px solid @blush;
  border-bottom: 7px solid @blush;
}

#main-hours-sun {
  position: absolute;
  left: -125px;
  top: 1px;
  z-index:-1;
  height: 250px;
  width: 250px;
}

#three-picture-section{
  height: 314px;
  border-top: 7px solid @ground;
  border-bottom: 7px solid @ground;
}

#main-history-section {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  min-height: 500px;
  z-index: 0;
   border-top: 7px solid @blush;
}

#header-section {
  width:100%;
  height: 65px;
  background-color: @blush;
  z-index: 25;
  padding-top: 5px;
  border-bottom: 7px solid @ground;
  box-shadow: 0px 1px 8px #313131;
}

#circle-logo {
  margin-top: -35px;
}

.replacement-button {
    display: none!important;
}

@media screen and (max-width: 1200px) {
 .double-divider::before, .double-divider::after {
    width: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .double-divider::before, .double-divider::after {
    width: 25%;
  }

  .spacer{
    display: none;
  }

  .break {
    display: block!important;
  }

}

@media screen and (max-width: 767px) {
  .removable-button {
    display: none!important;
  }

  .replacement-button {
    display: block!important;
  }
}

@media screen and (max-width: 480px) {
  .double-divider::before, .double-divider::after {
    width: 10%;
  }

  .section-desc{
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-item .item-price {
    float: none;
    margin-bottom: 15px!important;
  }

  .menu-item .spacer {
    display: block!important;
    line-height: 0.05em;
  }

}
@media screen and (max-width: 620px) {
  #circle-logo {
    margin-top: -20px;
  }

  .navbar-item {
    font-family: 'bebas';
    font-size: 1.1em;
    color: @chili;
    text-decoration: none;
  }

  .navbar-item:hover {
    color: @ground;
    text-decoration: none;
  }

  #logo {
    width: 100%;
    height: 100%;
  }

  .footer-item {
    padding-left: 45px;
  }

  .footer-header {
    margin-left: 45px !important;
  }

  .item {
    width: 98%!important;
  }

  .removable {
    display:none !important;
  }
}

#step-section {
  width: 100%;
  height: 170px;
  background: url(../../images/bgs/bagels.jpg);
  background-size: cover;
}

#specials-header {
  width: 100%;
  height: 130px;
}

#specials-header h1 {
  color: #fff;
  margin-top: 30px;
  font-size: 3.0em;
}

#login-step-section {
  width: 100%;
  min-height: 850px;
}

.catering_item {
  box-shadow: 1px 1px 3px #313131!important;
}

.ui.five.medium.steps {
  box-shadow: 1px 1px 3px #514b4b;
}

#footer {
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 7px solid @blush;
  font-family: 'Montserrat', sans-serif;
  color: @chili;
}

.footer-item {
  font-family: 'Montserrat', sans-serif;

  font-size: 0.8em;
}

#footer .ui.dividing.header {
  font-family: 'bebas';
  font-weight: normal;
  font-size: 2.5em;
  padding-top: 12px;
  padding-bottom: 12px;
  color: @blush;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)!important;
}

.bottom-button {
  position: absolute;
  bottom: 0;
  width: 85% !important;
}

.bottom-button-split {
  position: absolute;
  bottom: 0;
  width: 43% !important;
}

.red-dot {
  background: #D93A3A;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 10px;
}

.green-dot {
  background: #5BBD72;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 10px;
}

#city {
  height: 100px;
  margin-top: -100px;
  margin-bottom: -11px;
  background: url("../../images/city-outline.png");
  z-index: 25;
  background-repeat: no-repeat;
}

#down-arrow {
  font-size: 3em !important;
  opacity: 1.0 !important;
  color: #39342e!important;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

q:before {
    content: '\201C';
    font-size:150%;
    font-family: Times New Roman;
    padding-right: 5px;
}

q:after {
    content: '\201D';
    font-size:150%;
    line-height: 1.1em;
    padding-left: 5px;
    font-family: Times New Roman;
}


.quote {
    margin-top: -13px;
    height: auto;
    font-size: 1.2em;
    color: #39342e;
    font-family: 'Source Sans Pro';
}

.review {
  position: relative;
  font-size: 0.9em;
  border-left: 3px solid #313131;
  padding-left: 10px;
  padding-bottom:20px;
}

.reviewer {
  opacity: 0.8;
  font-size: 1em;
  float: right;
}

.tight {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

#summary-table .left-td {
  padding-right: 5px;
  float: right;
  font-weight: bold;
}

#summary-table .right-td {
  padding-left: 5px;
}

.location-selected {
  background:#418E47!important;
  color:#FFFFFF!important;
}

.menu-tab {
  display:none;
}
.menu-tab.active {
  display:block;
}

.virtual.method {
  color:@blush;
}

.disabled.column {
  opacity:0.75;
  color: #DDDDDD;
}

.item_description {
  display:none;
}
.item_description.active {
  display:block;
}

.fat-table {
  font-size: 1.65em;
}

.custom-field {
  display:none;
}

.active.custom-field {
  display:block;
  margin: 0em 0em 1em;
  clear:both;
}

.virtual-side {
  display:none;
}

.active.virtual-side {
  display:block;
  margin: 0em 0em 1em;
  clear:both;
}

.mutex {
  display:none;
}

.visible.mutex {
  display:block;
}

.invisible {
  display:none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 10;

}

.moving-modal {
    width: 76%;
    height: 70%;
    border: 5px solid @ground;
    position: fixed;
    top: 12%;
    margin-top: 80px;
    left: 12%;
    background-color: @chili;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    overflow-y: scroll;
}

.overlay-container {
  overflow: hidden;
}
