<div class="ui one column relaxed grid">
  <div class="row">
    <div class="column">
      <div class="ui steps">
        <div class="ui active step">
          Create Account
        </div>
        <div class="ui disabled step">
          Choose Items
        </div>
        <div class="ui disabled step">
          Add Delivery Info
        </div>
        <div class="ui disabled step">
          Add Payment Info
        </div>
        <div class="ui disabled step">
          Review &amp; Confirm
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <% if(flash && flash.err) { %>
        <div class="ui warning message">
          <% Object.keys(flash.err).forEach(function(type) { %>
            <div class="header"><%- type %></div>
              <ul class="list">
                <% Object.keys(flash.err[type]).forEach(function(error) { %>
                  <li><b><%- error %></b> failed to fulfill rules: <% Object.keys(flash.err[type][error]).forEach(function(index) {%><%- flash.err[type][error][index]['rule'] %><% if(flash.err[type][error].length > 1 && index < flash.err[type][error].length-1) {%>,<%}%><% }) %></li>
                </ul>
              <% }) %>
          <% }) %>
        </div>
      <% } %>
      <form action="/user/create" method="POST" class="ui large fluid form segment">

        <p>Let's go ahead and get you signed up! </p>
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input placeholder="First Name" name="firstName" type="text">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input placeholder="Last Name" name="lastName" type="text">
          </div>
        </div>
        <div class="two fields">
        <div class="field">
            <label>Company Name</label>
            <input placeholder="Company Name" name="companyName" type="text">
          </div>
          <div class="field">
            <label>Phone Number</label>
            <input placeholder="(xxx)-xxx-xxxx" name="phone" type="text">
          </div>
        </div>
        <div class="field">
          <label>Email Address</label>
          <input placeholder="Email Address" name="email" type="text">
        </div>
        <div class="two fields">
          <div class="field">
            <label>Password</label>
            <input type="password" name="password">
          </div>
          <div class="field">
            <label>Confirm Password</label>
            <input type="password" name="confirm">
          </div>
        </div>
        <input type="submit" class="ui blue submit button" value="Create Account">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <div class="ui error message"></div>
      </div>
    </div>
  </div>
  <div class="row"><br></div>
</div>