<div class="ui one column relaxed grid">
  <div class="row">
    <div class="column">
      <div class="ui five medium steps">
        <div class="ui active step">
          Create Account
        </div>
        <div class="ui disabled step">
          Choose Items
        </div>
        <div class="ui disabled step">
          Add Delivery Info
        </div>
        <div class="ui disabled step">
          Add Payment Info
        </div>
        <div class="ui disabled step">
          Review &amp; Confirm
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <% if(flash && flash.err) { %>
        <div class="ui warning message">
          <% if (('err' in flash.err) && (flash.err['err'].indexOf("duplicate key error") > -1)) { %>
            <div class="header">Account Creation Error</div>
              <ul class="list">
                <% if (flash.err['err'].indexOf("email") > -1) { %>
                  <li>An account with that e-mail address already exists!</li>
                <% } else { %>
                  <li><%- flash.err['err'] %></li>
                <% } %>
              </ul>
          <% } else { %>
            <div class="header">Unknown Error</div>
              <ul class="list">
                <li><%- flash.err[0] %></li>
              </ul>
          <% }%>
        </div>
      <% } %>
      <form action="/user/create" method="POST" class="ui large fluid form segment">

        <p>Let's go ahead and get you signed up! </p>
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input placeholder="First Name" name="firstName" type="text">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input placeholder="Last Name" name="lastName" type="text">
          </div>
        </div>
        <div class="two fields">
        <div class="field">
            <label>Company Name</label>
            <input placeholder="Company Name" name="companyName" type="text">
          </div>
          <div class="field">
            <label>Phone Number</label>
            <input placeholder="(xxx)-xxx-xxxx" name="phone" type="text">
          </div>
        </div>
        <div class="field">
          <label>Email Address</label>
          <input placeholder="Email Address" name="email" type="text">
        </div>
        <div class="two fields">
          <div class="field">
            <label>Password</label>
            <input type="password" name="password">
          </div>
          <div class="field">
            <label>Confirm Password</label>
            <input type="password" name="confirm">
          </div>
        </div>
        <input type="submit" class="ui blue submit button" value="Create Account">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <div class="ui error message"></div>
      </div>
    </div>
  </div>
  <div class="row"><br></div>
</div>