<div style="height: 100px"></div>

<div class="container"> <span id="success-signal"></span>
    <h1 class="ui center aligned dividing header"> Virtual Cafe Order Form </h1>

    <div class="ui center aligned page grid">
        <h4>Your order has been submitted successfully. Thanks for ordering from David and Dad's Virtual Cafe!</h4>
    </div>

</div>

<div style="height: 300px"></div>