<div style="height: 100px"></div>

<div class="container"> <span id="success-signal"></span>
    <h1 class="ui center aligned dividing header"> Virtual Cafe Order Form </h1>

    <div class="ui center aligned page grid">
        <h4>Your order has been submitted successfully. We've sent a confirmation to <%= session.User.email %>. If you don't receive this email shortly, please call the cafe at (410)-547-0550 or email us at catering@davidanddads.com to make sure we got your order!</h4>
    </div>

</div>

<div style="height: 300px"></div>