<div style="height:150px"></div>

    <div class="container">
        <center>
            <h3> Credit Card Response </h3>
            <p>
            <%= resp %>
            </p>
        </center>
    </div>

<div style="height:350px"></div>
