<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cabin+Condensed:600|Kreon:700|Oswald|Francois+One|Hammersmith+One' rel='stylesheet' type='text/css'>
  <title>David and Dad's Cafe</title>

<style>
@page {
    size: A4 landscape;
    margin: 0;
}
html, body {
    height: 210mm;
    width: 297mm;
    margin: 0;
    padding: 0;
}
.section {
    font-family: sans-serif;
    border: 1px solid black;
    padding: 20px;
}
.item-name {
    color: #822421;
    font-size: 1.2em;
    font-weight: bold;
}
.section {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
}
@media print {
  html, body {
    height: 210mm;
    width: 297mm;
  }
}
</style>
  <!--STYLES-->
  <!--STYLES END-->

</head>

<body style="background: none; overflow-x: hidden;">

  <%- body %>

  <!--SCRIPTS-->
  <link rel="stylesheet" href="/linker/styles/semantic.css">
  <!--SCRIPTS END-->

</body>
</html>
