<div id="step-section">
  <div class="container">
   <div class="ui five medium steps" style="margin-top: 46px; margin-bottom: 35px;">
      <div class="ui disabled step">
        Start My Order
      </div>
      <div class="ui disabled step">
        When &amp; Where
      </div>
      <div class="ui disabled step">
        Food
      </div>
      <div class="ui active step">
        Payment
      </div>
      <div class="ui disabled step">
        Review &amp; Confirm
      </div>
    </div>
  </div>
  <div class="up-divider"></div>
</div>

<% if(flash && flash.err) { %>
 <div class="ui warning message">
    <ul class="alert alert-success">
  <% Object.keys(flash.err).forEach(function(error) { %>
    <li><%- JSON.stringify(flash.err[error]) %></li>
  <% }) %>
  </ul>
</div>
<% } %>

<div class="ui one column relaxed grid">
  <div class="column">
    <form action="/user/addDelivery" method="POST" class="ui large fluid form segment" id="delivery-form">
        <p>Once you fill out this form, we'll save it to your account so that you can use it for future orders! </p>
        <div class="two fields">
        <div class="field">
            <label>Delivery Contact Name</label>
            <input placeholder="Leave blank if you are the delivery contact" name="name" type="text">
          </div>
          <div class="field">
            <label>Delivery Contact Phone Number</label>
            <input placeholder="Leave blank if you are the delivery contact" name="phone" type="text">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Delivery Address</label>
            <input placeholder="314 N. Charles St." name="address" type="text">
          </div>
          <div class="field">
            <label>City</label>
            <input placeholder="Baltimore" name="city" type="text">
          </div>
        </div>
        <div class="field">
          <label>Special Instructions</label>
          <textarea placeholder="Anything else that will help us deliver your order smoothly and in a timely fashion!" name="instructions"></textarea>
        </div>
        <input type="submit" class="ui blue submit button" value="Save This Location">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <div class="ui error message"></div>
      </form>
  </div>
  <br>
</div>