<h1 class="ui dividing header"> About David and Dad's </h1>

<h3 class="ui orange header"> Mission </h3>

<p>At David and Dad's we pride ourselves in doing things the old fashioned&mdash;and we believe better&mdash;way. All our food is prepared from scratch on the premises. We value each and every customer and our pricing is fair.</p>
<p>David and Dad's is also the place to call for all your catering needs. We deliver all of our delicious menu items to your office for your business meetings and office parties.</p>

<h3 class="ui orange header"> History </h3>
<p>David and Dad's Cafe opened in April 1993 as David's Courtyard Cafe in Brown's Arcade at 326 N. Charles Street. In September 1994, needing more space, we expanded into our present location as David and Dad's. Both locations were open until November 1998 when David's Courtyard Cafe was merged into a bigger and better David and Dad's Cafe.</p>

<p>Our primary focus is to serve breakfast and lunch to the area's business community. We start the day at 6:30 AM with a full breakfast menu, with fresh baked bagels and muffins, egg platters, pancakes, waffles and much more. We are the place to come for gourmet coffees, cappucino, and all your favorite espresso drinks. For lunch we serve a full line of super deli sandwiches (featuring our own roast turkey breast), fresh salads, burgers, cheese steaks, home made soups and much much more. Daily specials include many Italian dishes made from family recipes as well as favorites like meatloaf, pot pies, and crab cakes.</p>

<h1 class="ui dividing header"> Press </h1>

Zagat

Trip Advisor

Yelp

<h1 class="ui dividing header"> Our Locations </h1>

<h3 class="ui orange header"> Main Cafe </h3>

<h3 class="ui orange header"> Express Cafes </h3>