<div class="ui middle aligned grid" id="home-section1">
  <div class="sixteen wide column">
    <center><img src="/images/logo4.png" width="600" height="175" id="logo"></center>
  </div>
  <div class="ui grid">
  <div class="column">
    <div class="ui three items">
      <div class="item" style="background-color: #822421">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #822421;"><a href="/main" class="navbar-item" style="font-family: 'bebas', sans-serif; font-size: 2.7em;">David and Dad's Caf&eacute;</a>
        <div class="double-divider sub-header"><h3 style="font-size:1.2em; font-family: 'Montserrat', sans-serif; color: #F5D894">334 N. Charles St.</h3></div>
        <div class="sub-header"><h3 style="font-size:1.0em; font-family: 'Montserrat', sans-serif; color: #F5D894">Explore our Cafe, view our menu, and see today's daily specials.</h3></div>
          </center>

        <div class="image">
          <img src="https://farm5.staticflickr.com/4080/5046234070_6dc9501e41_b_d.jpg" style="border-radius: 8px;" height="350" >
        </div>

      </div>
      <div class="item" style="background-color: #822421">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #822421;"><a href="/catering" class="navbar-item" style="font-family: 'bebas', serif; font-size: 2.7em;">Corporate Catering</a>
        <div class="double-divider sub-header"><h3 style="font-size:1.2em; font-family: 'Montserrat', sans-serif; color: #F5D894">(410)-547-0550</h3></div>
        <div class="sub-header"><h3 style="font-size:1.0em; font-family: 'Montserrat', sans-serif; color: #F5D894">Learn about our catering process, view the menu, and place an order.</h3></div>
        </center>
        <div class="image" style="border-radius: 5px;">
          <img src="http://www.philydiner.com/images/psb_catering.jpg" style="border-radius: 8px;" height="350" >
        </div>

      </div>
      <div class="item" style="background-color: #822421">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #822421"><a href="/express" class="navbar-item" style="font-family: 'bebas', sans-serif; font-size: 2.7em;">Express Cafes</a>
        <div class="double-divider sub-header"><h3 style="font-size:1.2em; font-family: 'Montserrat', sans-serif; color: #F5D894">3 Locations</h3></div>
        <div class="sub-header"><h3 style="font-size:1.0em; font-family: 'Montserrat', sans-serif; color: #F5D894">Explore our 3 express cafes, view the menus, and check our daily specials.</h3></div>
          </center>
        <div class="image" style="border-radius: 5px;">
          <img src="http://4.bp.blogspot.com/-t0765flZM9E/UaRDyrFyHkI/AAAAAAAAlO8/rQhNmKC_TNk/s1600/Cafe.jpg" height="350" style="border-radius: 8px;">
        </div>

      </div>
    </div>
  </div>
</div>
</div>


<div id="city">
  </div>
  <div class="ui inverted dark-brown page grid" id="footer">
    <div class="ui stackable grid">
      <div class="row">
        <div class="twelve wide column">
          <h1 class="ui dividing header"> Our Locations </h1>
        </div>
        <div class="four wide column">
          <h1 class="ui dividing header"> Our Company </h1>
        </div>
      </div>
      <div class="row">
        <div class="three wide column">
          <h3 class="ui header">D&amp;D Cafe</h3>
          <div class="ui inverted list">
            <div class="item">Cathedral Hill </div>
            <div class="item">334 N. Charles St.</div>
            <div class="item">Baltimore, MD 21201</div>
            <div class="item">(410)-547-0550</div>
            <div class="item">6:30am - 4:00pm M - F</div>
            <div class="item">8:00am - 2:00pm S
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h3 class="ui header">Cafe Express</h3>
          <div class="ui inverted list">
            <div class="item">T. Rowe Price Bldg. </div>
            <div class="item"> Light St. Entrance </div>
            <div class="item">100 East Pratt St.</div>
            <div class="item">Baltimore, MD 21201</div>
            <div class="item">(410)-385-6267</div>
            <div class="item">7:00am - 3:00pm M - F
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h3 class="ui header">D&amp;D Express</h3>
          <div class="ui inverted list">
            <div class="item">Blaustein Building</div>
            <div class="item">At Charles and Fayette</div>
            <div class="item">1 N. Charles St.</div>
            <div class="item">Baltimore, MD 21201</div>
            <div class="item">(410)-637-4840</div>
            <div class="item">6:30am - 3:00pm M - F
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h3 class="ui header">Garden View Cafe</h3>
          <div class="ui inverted list">
            <div class="item">2nd Floor Kennedy Krieger Institute</div>
            <div class="item">801 N. Broadway</div>
            <div class="item">Baltimore, MD 21205</div>
            <div class="item">(443)-923-9480</div>
            <div class="item">7:00am - 4:00pm M - F
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui inverted list">
            <div class="item">Contact Us</div>
            <div class="item">Jobs</div>
            <div class="item">Press</div>
            <div class="item">News</div>
            <div class="item">
              <a href="https://www.facebook.com/davidanddadscafe"><img style="margin-right: 15px" src="/icons/facebook.png" height="30px" width="30px"> Visit us on Facebook!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <center>
            <span>&copy; 2014 David and Dad's, Inc.</span>
          </center>
        </div>
      </div>
    </div>
  </div>