<div class="ui middle aligned page grid" id="home-section1">
  <div class="sixteen wide column">
    <center><img src="/images/logo4.png" width="600" height="175" id="logo"></center>
  </div>

  <div class="ui grid">
  <div class="column">
    <div class="ui three stackable items">
      <div class="item" style="background-color: #822421">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #822421;"><a href="/main" class="navbar-item" style="font-family: 'bebas', sans-serif; font-size: 2.3em;">David and Dad's Caf&eacute;</a>
        <div class="double-divider sub-header"><h3 style="font-size:1.0em; font-family: 'Montserrat', sans-serif; color: #F5D894">334 N. Charles St.</h3></div>
        <div class="sub-header"><h3 style="font-size:0.8em; font-family: 'Montserrat', sans-serif; color: #F5D894">Explore our Cafe, view our menu, and see today's daily specials.</h3></div>
          </center>

        <div class="image">
          <img src="/images/IMG_2054.JPG" style="border-radius: 8px;" height="220" >
        </div>

      </div>
      <div class="item" style="background-color: #822421">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #822421;"><a href="/catering" class="navbar-item" style="font-family: 'bebas', serif; font-size: 2.3em;">Corporate Catering</a>
        <div class="double-divider sub-header"><h3 style="font-size:1.0em; font-family: 'Montserrat', sans-serif; color: #F5D894">(410)-547-0550</h3></div>
        <div class="sub-header"><h3 style="font-size:0.8em; font-family: 'Montserrat', sans-serif; color: #F5D894">Learn about our catering process, view the menu, and place an order.</h3></div>
        </center>
        <div class="image" style="border-radius: 5px;">
          <img src="/images/IMG_2119.JPG" style="border-radius: 8px;" height="220" >
        </div>

      </div>
      <div class="item" style="background-color: #822421">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #822421"><a href="/express" class="navbar-item" style="font-family: 'bebas', sans-serif; font-size: 2.3em;">Express Cafes</a>
        <div class="double-divider sub-header"><h3 style="font-size:1.0em; font-family: 'Montserrat', sans-serif; color: #F5D894">3 Locations</h3></div>
        <div class="sub-header"><h3 style="font-size:0.8em; font-family: 'Montserrat', sans-serif; color: #F5D894">Explore our 3 express cafes, view the menus, and check our daily specials.</h3></div>
          </center>
        <div class="image" style="border-radius: 5px;">
          <img src="/images/IMG_2057.JPG" height="220" style="border-radius: 8px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 150px"></div>
</div>



  <div id="city">
  </div>
  <div class="ui inverted dark-brown page grid" id="footer">
    <div class="ui stackable grid">
      <div class="row">
        <div class="twelve wide column">
          <h1 class="footer-header ui dividing header"> Our Locations </h1>
        </div>
        <div class="four wide column">
          <h1 class="footer-header ui dividing header"> Our Company </h1>
        </div>
      </div>
      <div class="row">
        <div class="three wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">D&amp;D Cafe</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> Cathedral Hill </span></div>
            <div class="item"><span class="footer-item"> 334 N. Charles St.</span></div>
            <div class="item"><span class="footer-item"> Baltimore, MD 21201</span></div>
            <div class="item"><span class="footer-item"> (410)-547-0550</span></div>
            <div class="item"><span class="footer-item"> 6:30am - 4:00pm M - F</span></div>
            <div class="item"><span class="footer-item"> 8:00am - 2:00pm S</span>
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">Cafe Express</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> T. Rowe Price Bldg. </span></div>
            <div class="item"><span class="footer-item">  Light St. Entrance </span></div>
            <div class="item"><span class="footer-item"> 100 East Pratt St.</span></div>
            <div class="item"><span class="footer-item"> Baltimore, MD 21201</span></div>
            <div class="item"><span class="footer-item"> (410)-385-6267</span></div>
            <div class="item"><span class="footer-item"> 7:00am - 3:00pm M - F </span>
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">D&amp;D Express</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> Blaustein Building</span></div>
            <div class="item"><span class="footer-item"> At Charles and Fayette</span></div>
            <div class="item"><span class="footer-item"> 1 N. Charles St.</span></div>
            <div class="item"><span class="footer-item"> Baltimore, MD 21201</span></div>
            <div class="item"><span class="footer-item"> (410)-637-4840</span></div>
            <div class="item"><span class="footer-item"> 6:30am - 3:00pm M - F </span>
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h2 class="footer-header ui header" style="font-family: 'Montserrat'; font-weight: normal; font-size: 1.2em; color: #F5D894;">Garden View Cafe</h2>
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> 2nd Floor Kennedy Krieger Institute</span></div>
            <div class="item"><span class="footer-item"> 801 N. Broadway</span></div>
            <div class="item"><span class="footer-item"> Baltimore, MD 21205</span></div>
            <div class="item"><span class="footer-item"> (443)-923-9480</span></div>
            <div class="item"><span class="footer-item"> 7:00am - 4:00pm M - F</span>
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui inverted list" style="line-height: 1em; color: #F5D894;">
            <div class="item"><span class="footer-item"> <a href="/contact" style="text-decoration: none; color: #F5D894;">Contact Us</a></span></div>
            <div class="item"><span class="footer-item"> <a href="/jobs" style="text-decoration: none; color: #F5D894;">Jobs</a></span></div>
            <div class="item"><span class="footer-item"> <a href="/press" style="text-decoration: none; color: #F5D894;">Press</a></span></div>
            <div class="item"><span class="footer-item"> <a href="/news" style="text-decoration: none; color: #F5D894;">News</a></span></div>
            <div class="item">
              <span class="footer-item"> <a href="https://www.facebook.com/davidanddadscafe" style="text-decoration: none; color: #F5D894;"><img style="margin-right: 15px" src="/icons/facebook.png" height="30px" width="30px"> Visit us on Facebook!</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <center>
            <span style="color: #F5D894;">&copy; 2014 David and Dad's, Inc.</span>
          </center>
        </div>
      </div>
    </div>
  </div>
