<div class="ui middle aligned grid" style="margin-top: 20px; margin-bottom: 40px;">
  <div class="four wide column">
    <center><h3 style="font-family: 'Montserrat', sans-serif;"><i class="ui building icon"></i>334 N. Charles St.</h3></center>
  </div>
  <div class="eight wide column">
    <center><img src="/images/logo3.png" width="600" height="200" id="logo"></center>
  </div>
  <div class="four wide column">
    <center><h3 style="font-family: 'Montserrat', sans-serif;"><i class="ui phone icon"></i>(410)-547-0550</h3></center>
  </div>
</div>
<div id="splash-menu">
      <div class="ui center aligned top aligned three column grid">
        <div class="column" style="border-right: 1px solid #000">
          <a href="/main" class="navbar-item">Main Caf&eacute;</a>
        </div>
        <div class="column" style="border-right: 1px solid #000">
          <a href="/catering" class="navbar-item">Catering</a>
        </div>
        <div class="column">
          <a href="/express" class="navbar-item">Express Caf&eacute;s</a>
        </div>
      </div>
    </header>
  </div>
<div class="three-box">
  <div id="crossfade" style="display: inline-block">
    <img class="bottom" src="/images/1.png">
    <img class="top" src="/images/unsplash_outside_cafe.jpg" height="281" width="426" style="padding: none!important; margin: none!important; float: left;">

  </div>
  <div id="crossfade" style="display: inline-block">
    <img class="bottom" src="/images/2.png">
    <img class="top" src="http://www.orangesmile.com/common/img_cities_original/baltimore-20053799-11.jpg" height="281" width="426" style="padding: none!important; border: none!important; margin: none!important; float: left;">

  </div>
  <div id="crossfade" style="display: inline-block">
    <img class="bottom" src="/images/3.png">
    <img class="top" src="http://www.baltimoresun.com/media/photo/2011-09/64489524.jpg" height="281" width="426" style="padding: none!important; border: none!important; margin: none!important; float: left;">

  </div>


  </div>
</div>