<div class="ui middle aligned grid" style="margin-top: 20px; ">
  <div class="four wide column">
  </div>
  <div class="eight wide column">
    <center><img src="/images/logo4.png" width="600" height="175" id="logo"></center><center style="margin-top: -10px!important;"><h2 class="ui header" syle="font-family: 'Montserrat', sans-serif;">334 N. Charles St. &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;(410)-547-0550</h2></center>
  </div>
  <div class="four wide column">
  </div>
</div>

<div class="ui grid">
  <div class="column">
    <div class="ui three items">
      <div class="item" style="background-color: #39342e">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #FEB535"><a href="/main" class="navbar-item">David and Dad's Caf&eacute;</a></center>
        <div class="image">
          <img src="/images/unsplash_outside_cafe.jpg">
        </div>
        <div class="content" style="background-color: #FEB535;">
          <div class="name" style="text-align:center;">Since 1993!</div>
          <p class="description" style="color: #000!important; text-align: center"><br>Click here to view our menu, and to see our daily specials!<br>&nbsp;<br></p>
        </div>
      </div>
      <div class="item" style="background-color: #39342e">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #FEB535"><a href="/main" class="navbar-item">David and Dad's Catering</a></center>
        <div class="image">
          <img src="http://www.orangesmile.com/common/img_cities_original/baltimore-20053799-11.jpg">
        </div>
        <div class="content" style="background-color: #FEB535;">
          <div class="name" style="text-align:center;">We specialize in office catering!</div>
          <p class="description" style="color: #000!important; text-align: center"><br>Click here for information on all our catering services, to view our complete menu, and to place an order.</p>
        </div>
      </div>
      <div class="item" style="background-color: #39342e">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #FEB535"><a href="/main" class="navbar-item">David and Dad's Express</a></center>
        <div class="image">
          <img src="http://www.baltimoresun.com/media/photo/2011-09/64489524.jpg" height="247">
        </div>
        <div class="content" style="background-color: #FEB535;">
          <div class="name" style="text-align:center;">3 more locations to serve you!</div>
          <p class="description" style="color: #000!important; text-align: center"><br>Click here to find a David and Dad's near you, view the menu, or check out or daily specials.</p>
        </div>
      </div>
    </div>
  </div>
</div>
