<div class="ui middle aligned grid" style="margin-top: 20px; ">
  <div class="sixteen wide column">
    <center><img src="/images/logo4.png" width="600" height="175" id="logo"></center>
  </div>
</div>

<div class="ui grid">
  <div class="column">
    <div class="ui three items">
      <div class="item" style="background-color: #CC982A">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #CC982A;"><a href="/main" class="navbar-item" style="font-family: 'Cabin Condensed', sans-serif; font-size: 2.7em;">David and Dad's Caf&eacute;</a>
          </center>
        <div class="image">
          <img src="https://farm5.staticflickr.com/4080/5046234070_6dc9501e41_b_d.jpg">
        </div>

      </div>
      <div class="item" style="background-color: #A7321C">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #A7321C;"><a href="/catering" class="navbar-item" style="font-family: 'Cabin Condensed', serif; font-size: 2.7em;">Corporate Catering</a>
        </center>
        <div class="image">
          <img src="http://fresnobreakfasthouse.com/yahoo_site_admin/assets/images/iStock_000009276790XSmall.9163018_std.jpg">
        </div>

      </div>
      <div class="item" style="background-color: #928941">
        <center style="padding-top: 10px; padding-bottom: 10px; background-color: #928941"><a href="/express" class="navbar-item" style="font-family: 'Cabin Condensed', sans-serif; font-size: 2.7em;">Express Cafes</a>
          </center>
        <div class="image">
          <img src="http://thumb101.shutterstock.com/display_pic_with_logo/219958/219958,1276933469,3/stock-photo-outdoor-cafe-55532791.jpg" height="247">
        </div>

      </div>
    </div>
  </div>
</div>

<div id="city">
  </div>
  <div class="ui inverted dark-brown page grid" id="footer">
    <div class="ui stackable grid">
      <div class="row">
        <div class="twelve wide column">
          <h1 class="ui dividing header"> Our Locations </h1>
        </div>
        <div class="four wide column">
          <h1 class="ui dividing header"> Our Company </h1>
        </div>
      </div>
      <div class="row">
        <div class="three wide column">
          <h3 class="ui header">D&amp;D Cafe</h3>
          <div class="ui inverted list">
            <div class="item">Cathedral Hill </div>
            <div class="item">334 N. Charles St.</div>
            <div class="item">Baltimore, MD 21201</div>
            <div class="item">(410)-547-0550</div>
            <div class="item">6:30am - 4:00pm M - F</div>
            <div class="item">8:00am - 2:00pm S
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h3 class="ui header">Cafe Express</h3>
          <div class="ui inverted list">
            <div class="item">T. Rowe Price Bldg. </div>
            <div class="item"> Light St. Entrance </div>
            <div class="item">100 East Pratt St.</div>
            <div class="item">Baltimore, MD 21201</div>
            <div class="item">(410)-385-6267</div>
            <div class="item">7:00am - 3:00pm M - F
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h3 class="ui header">D&amp;D Express</h3>
          <div class="ui inverted list">
            <div class="item">Blaustein Building</div>
            <div class="item">At Charles and Fayette</div>
            <div class="item">1 N. Charles St.</div>
            <div class="item">Baltimore, MD 21201</div>
            <div class="item">(410)-637-4840</div>
            <div class="item">6:30am - 3:00pm M - F
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h3 class="ui header">Garden View Cafe</h3>
          <div class="ui inverted list">
            <div class="item">2nd Floor Kennedy Krieger Institute</div>
            <div class="item">801 N. Broadway</div>
            <div class="item">Baltimore, MD 21205</div>
            <div class="item">(443)-923-9480</div>
            <div class="item">7:00am - 4:00pm M - F
              <div class="green-dot"></div>
            </div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui inverted list">
            <div class="item">Contact Us</div>
            <div class="item">Jobs</div>
            <div class="item">Press</div>
            <div class="item">News</div>
            <div class="item">
              <a href="https://www.facebook.com/davidanddadscafe"><img style="margin-right: 15px" src="/icons/facebook.png" height="30px" width="30px"> Visit us on Facebook!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <center>
            <span>&copy; 2014 David and Dad's, Inc.</span>
          </center>
        </div>
      </div>
    </div>
  </div>