<div id="header-section" style="position:relative;">
  <header id="header">
    <div class="ui center aligned top aligned three column grid">
      <div class="column">
        <span class="navbar-item">Main Caf&eacute;</span>
      </div>
      <div class="column">
        <span class="navbar-item">Catering</span>
      </div>
      <div class="column">
        <span class="navbar-item">Express Caf&eacute;s</span>
      </div>
    </div>
  </header>
  <div class="down-divider"></div>
</div>
<div id="home-section1">
  <div class="container">
	  <div style="height:75px;">
	  </div>
	  <div>
	    <center>
	      <!--<h1 style="padding:20px; font-family: 'mel'; font-size: 5em; color: #39342e;">We Specialize in Corporate Catering!</h1>-->
	      <img src="/images/logo2.png">
	    </center>
	  </div>
	  <div style="height:75px;">
	  </div>
	  <div>
	    <center>
	      <div class="huge circular ui dark-brown button" style="font-family:'museo'; font-weight: 400; margin-right:15px"> View Menu </div>
	      <div class="huge circular ui green button" style="font-family:'museo'; font-weight: 400; margin-left:15px"> Order Now </div>

	    </center>
	  </div>
  </div>
</div>
<div id="section-2" style="position:relative;">
  <div class="up-divider">
  </div>
  <div class="container">
    <div class="row">
<div class="col-md-3 dishes-item">
					<div class="dishes">
						<div class="dishes-img"><img alt="" src="images/dishes-1.png"></div>
						<div class="dishes-content">
							<div class="dishes-icon"><i class="icon-food"></i></div>
							<h3><a href="single-dishes.html">Korean BBQ chicken</a></h3>
							<p>Integer lorem quam, adipiscing condim tristique , eleifend turpis. Pellentesque cursus arcu id magna euismod in.</p>
							<div class="dishes-footer">
								<span class="dishes-price">Only 30.99 $</span>
								<a class="dishes-order" href="#">Order It Now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 dishes-item">
					<div class="dishes">
						<div class="dishes-img"><img alt="" src="images/dishes-2.png"></div>
						<div class="dishes-content">
							<div class="dishes-icon"><i class="icon-food"></i></div>
							<h3><a href="single-dishes.html">Muffins</a></h3>
							<p>Integer lorem quam, adipiscing condim tristique , eleifend turpis. Pellentesque cursus arcu id magna euismod in.</p>
							<div class="dishes-footer">
								<span class="dishes-price">Only 12.99 $</span>
								<a class="dishes-order" href="#">Order It Now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 dishes-item">
					<div class="dishes">
						<div class="dishes-img"><img alt="" src="images/dishes-3.png"></div>
						<div class="dishes-content">
							<div class="dishes-icon"><i class="icon-food"></i></div>
							<h3><a href="single-dishes.html">Diet Salad</a></h3>
							<p>Integer lorem quam, adipiscing condim tristique , eleifend turpis. Pellentesque cursus arcu id magna euismod in.</p>
							<div class="dishes-footer">
								<span class="dishes-price">Only 10.99 $</span>
								<a class="dishes-order" href="#">Order It Now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 dishes-item">
					<div class="dishes">
						<div class="dishes-img"><img alt="" src="images/dishes-4.png"></div>
						<div class="dishes-content">
							<div class="dishes-icon"><i class="icon-food"></i></div>
							<h3><a href="single-dishes.html">Italian Pizza</a></h3>
							<p>Integer lorem quam, adipiscing condim tristique , eleifend turpis. Pellentesque cursus arcu id magna euismod in.</p>
							<div class="dishes-footer">
								<span class="dishes-price">Only 9.99 $</span>
								<a class="dishes-order" href="#">Order It Now</a>
							</div>
						</div>
					</div>
				</div>
    </div>
  </div>
  <div class="down-divider" style="z-index: 25;"></div>
</div>
<div id="section-3" style="position:relative">
  <div class="container">
    <br><br>
    <p> More content here! </p>
  </div>
</div>
  

