<div id="home-section1">
	<div class="container">
		<div style="height:75px;">
		</div>
		<div>
			<center>
				<img src="/images/logo2.png">
			</center>
		</div>
		<div style="height:75px;">
		</div>
		<center><div class="ui blue button">A button </div></center>

	</div>

</div>
<div style="position: relative;" class="below-step">
  <div class="step-up-divider" style="top: -11px;"></div>
</div>
<div id="welcome">
	<div class="ui page grid">
		<center>
			<h1 class="ui dividing header" style="font-size: 3rem;">Welcome to David and Dad's!<div class="sub header" style="color: #F05940;">We're a family-owned and operated business dedicated to providing great service and food in and around Baltimore City</div></h1>

		</center>
		<div style="height:50px;">
		</div>
		<div class="ui three column relaxed divided grid">
			<div class="column">
				<h3 class="ui dividing header">The Main Caf&eacute; on Charles St.</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum purus ut massa laoreet, non dictum eros varius. Nulla ut enim elit. Donec at odio dictum, placerat orci et, molestie arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum purus ut massa laoreet, non dictum eros varius. Nulla ut enim elit. Donec at odio dictum, placerat orci et, molestie arcu.
				</p>
			</div>
			<div class="column">
				<h3 class="ui dividing header">Business Catering</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum purus ut massa laoreet, non dictum eros varius. Nulla ut enim elit. Donec at odio dictum, placerat orci et, molestie arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum purus ut massa laoreet, non dictum eros varius. Nulla ut enim elit. Donec at odio dictum, placerat orci et, molestie arcu.
				</p>
			</div>
			<div class="column">
				<h3 class="ui dividing header">David and Dad's Express</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum purus ut massa laoreet, non dictum eros varius. Nulla ut enim elit. Donec at odio dictum, placerat orci et, molestie arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum purus ut massa laoreet, non dictum eros varius. Nulla ut enim elit. Donec at odio dictum, placerat orci et, molestie arcu.
				</p>
			</div>
		</div>
	</div>
</div>

<section id="reviews">
	<div class="ui page grid">
		<h1 class="ui dividing header" style="color: #39342e;"> DON'T BELIEVE US? </h1>
	</div>
	<div class="ui page grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <div class="review">
        <img src="/images/google_stars.png" style="float: left; padding-right: 10px">
        <q><span class="quote"> I can't even remember how many times I've caller their catering line to order last minute office lunches or breakfasts. They have always come through for me in a bind (and every other time,) the food is always of great quality and they are NEVER late. I've worked with countless catering companies and this is by far the most reliable and best quality in the downtown area. The fact that they're such nice people is just an added bonus! </span></q>
        <br>
        <div class="reviewer">- Google Review </div>
      </div>
    </div>
    <div class="two wide column"></div>
    <div class="eight wide column">
     <div class="review">
      <img src="/images/five_stars.png" style="float: left; padding-right: 10px">
      <q><span class="quote">I love this place! Food is delicious and fresh! I get something different every time I go and I'm always very pleased. Love the atmosphere, friendly staff, and ordering is quick and easy.</span></q>
      <div class="reviewer">- Yelp Reviewer Marta B. </div>
    </div>
  </div>
  <div class="eight wide column">
    <div class="review">
      <img src="/images/five_stars.png" style="float: left; padding-right: 10px">
      <q><span class="quote"> In the North, this kind of hospitatlity is not seen very often and I was pleasantly surprised and impressed. </span></q>
      <br>
      <div class="reviewer">- Yelp Reviewer Sarak K. </div>
    </div>
  </div>
  <div class="eight wide column">
    <div class="review">
      <img src="/images/five_stars.png" style="float: left; padding-right: 10px">
      <q><span class="quote">Everything was so tasty; including the coffee! The price  was perfect. But the best part? The customer service! This was my first time going there, but all the staff treated me as if I was a regular. I felt like part of a family gathering. Everyone was so helpful.</span></q>
      <br>
      <div class="reviewer">- Yelp Reviewer Jordan M. </div>
    </div>
  </div>
  <div class="eight wide column">
    <div class="review">
      <img src="/images/five_stars.png" style="float: left; padding-right: 10px">
      <q><span class="quote">I love this place! Food is delicious and fresh! I get something different every time I go and I'm always very pleased. Love the atmosphere, friendly staff, and ordering is quick and easy.</span></q>
      <br>
      <div class="reviewer">- Yelp Reviewer Marta B. </div>
    </div>
  </div>
</div>
</div>
</section>

<section id="feedback">
  <div class="container">
  <h1 class="ui dividing header"> HOW DO WE LOOK? </h1>
    <form method="POST" action="/feedback" class="ui small form segment">
      <p class="warning-border"> Whether you're a new customer, or a regular, we'd love to hear your thoughts about our website so far!<br> It's still a work in progress, so we're actively looking for ways to make it better. Any comments, compliments, or criticisms will be greatly appreciated! </p>
      <div class="field">
        <label>Message</label>
        <textarea name="description"></textarea>
      </div>
      <input type="submit" class="ui teal button" value="SEND">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">
    </form>
    </div>
</section>