<div class="jumbotron">
  <div class="container">
    <h1>David and Dad's Caf&eacute; 
    <i class="fa fa-coffee fa-lg"></i></h1>

    <h2>Serving Homestyle Favorites Since 1993.</h2>
    <a href="/cafe/menu" class="btn btn-lg btn-success">View Menu</a>
  </div>
</div>
