<div id="home-section1">
	<div class="container">
		<div style="height:75px;">
		</div>
		<div>
			<center>
				<!--<h1 style="padding:20px; font-family: 'mel'; font-size: 5em; color: #39342e;">We Specialize in Corporate Catering!</h1>-->
				<img src="/images/logo2.png">
			</center>
		</div>
		<div style="height:75px;">
		</div>
		<div>
			<center>
				<a class="huge ui dark-brown button" style="margin-right:15px" href="/main/menu"> View Menu </a>
				<a class="huge ui green button" style="margin-left:15px" href="/catering/order/start"> Order Now </a>

			</center>
		</div>
	</div>
</div>
<div class="breakfast-specials">
	<div class="up-divider">
	</div>
	<div class="container">
		<div style="height:50px;">
			</div>
		<center>
		  <h1 class="ui dividing header" style="padding: 10px">Today's Breakfast Specials (Sunday, July 27th, 2014)</h1>
		</center>
		<div style="height:35px;">
		</div>
	  <div class="ui three items">
	    <div class="item">
	      <div class="image">
	        <img src="https://res.cloudinary.com/relay-foods/image/upload/v1401207642/asparagusleeksmall_tfkbji.jpg" alt="">
	      </div>
	      <div class="content">
	        <div class="name">Cream Chipped Beef & Homefries</div>
	        <p class="description">$5.95 </p>
	      </div>
	    </div>
	    <div class="item">
	      <div class="image">
	        <img src="https://res.cloudinary.com/relay-foods/image/upload/v1401207554/strawberrygrahamcakes_jht5nx.jpg" alt="">
	      </div>
	      <div class="content">
	        <div class="name">Ham Double Egg & Cheese Wrapper</div>
	        <p class="description">$3.75</p>
	      </div>
	    </div>
	    <div class="item">
	      <div class="image">
	        <img src="https://res.cloudinary.com/relay-foods/image/upload/v1401207605/grapefruitspritzer_mg9clq.jpg" alt="">
	      </div>
	      <div class="content">
	        <div class="name">Scrapple Egg & Cheese on Toast</div>
	        <p class="description">$2.99 </p>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<div class="lunch-specials">
	<div class="up-divider">
	</div>
	<div class="container">
		<div style="height:50px;">
			</div>
		<center>
		  <h1 class="ui dividing header" style="padding: 10px">Today's Lunch Specials (Sunday, July 27th, 2014)</h1>
		</center>
		<div style="height:35px;">
		</div>
	  <div class="ui three items">
	    <div class="item">
	      <div class="image">
	        <img src="https://res.cloudinary.com/relay-foods/image/upload/v1401207697/fingerlingpotatoes_ljolv7.jpg" alt="">
	      </div>
	      <div class="content">
	        <div class="name">Cream Chipped Beef & Homefries</div>
	        <p class="description">$5.95 </p>
	      </div>
	    </div>
	    <div class="item">
	      <div class="image">
	        <img src="https://res.cloudinary.com/relay-foods/image/upload/v1401207554/strawberrygrahamcakes_jht5nx.jpg" alt="">
	      </div>
	      <div class="content">
	        <div class="name">Ham Double Egg & Cheese Wrapper</div>
	        <p class="description">$3.75</p>
	      </div>
	    </div>
	    <div class="item">
	      <div class="image">
	        <img src="https://res.cloudinary.com/relay-foods/image/upload/v1401207735/Eastereggssmall_pmyl2t.jpg" alt="">

	      </div>
	      <div class="content">
	        <div class="name">Scrapple Egg & Cheese on Toast</div>
	        <p class="description">$2.99 </p>
	      </div>
	    </div>
	    <div class="item">
	      <div class="image">
	        <img src="https://res.cloudinary.com/relay-foods/image/upload/v1401207642/asparagusleeksmall_tfkbji.jpg" alt="">
	      </div>
	      <div class="content">
	        <div class="name">Cream Chipped Beef & Homefries</div>
	        <p class="description">$5.95 </p>
	      </div>
	    </div>
	    <div class="item">
	      <div class="image">
	        <img src="https://res.cloudinary.com/relay-foods/image/upload/v1401207776/Sesame-Broccoli_fzjurz.jpg" alt="">
	      </div>
	      <div class="content">
	        <div class="name">Ham Double Egg & Cheese Wrapper</div>
	        <p class="description">$3.75</p>
	      </div>
	    </div>
	    <div class="item">
	      <div class="image">
	        <img src="https://res.cloudinary.com/relay-foods/image/upload/v1401207605/grapefruitspritzer_mg9clq.jpg" alt="">
	      </div>
	      <div class="content">
	        <div class="name">Scrapple Egg & Cheese on Toast</div>
	        <p class="description">$2.99 </p>
	      </div>
	    </div>
	  </div>
	</div>
</div>


