<div id="catering-section1">
<div class="container">
        <center style="margin-top: 100px;">
        <h1 style="font-family: 'bebas'; font-size: 5em; color: #352504;">David and Dad's Catering</h1>
        <div class="double-divider sub-header"><h3 style="font-size:1.7em; font-family: 'Montserrat', sans-serif;">334 N. Charles St.&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;(410)-547-0550</h3></div>
        <div class="sub-header" style="padding-top: 1px;"><h1 style="font-family: 'Montserrat'; font-size: 1.3em">We <i>specialize</i> in corporate catering.</h1></div>
        </center>
        <div style="height: 20px"></div>
        <div>
            <center>
                <a class="huge ui green button" href="/catering/menu" style="background-color: #822421; font-family: 'Montserrat', sans-serif; margin-right: 15px;"> Catering Menu </a>
                <a class="huge ui teal button" href="/catering/order/start" style="background-color: #352504; font-family: 'Montserrat', sans-serif; margin-left: 15px;"> Place An Order </a>
            </center>
        </div>
        <div style="height: 30px"></div>
    </div>
</div>
<div id="catering-how-it-works">


  <div class="ui three column page grid">
  <center><h2 class="ui  header" style="color: #822421; margin-bottom: 30px;"> Serving the Baltimore Business Community for 20 years... We've learned to do it right.</h2></center>
  <div class="column">
    <h3 class="ui dividing header"><i class="food icon"></i>What We Serve</h3>
    <p>Sandwich platters, hot entrees, salads, beverages, desserts, coffee. Everything for any meeting, corporate event, or just lunch for the staff! </p>
  </div>

  <div class="column">
    <h3 class="ui dividing header"><i class="building icon"></i>Where We Go</h3>
    <p>Everywhere in and around baltimore. Glen Burnie, Columbia, Annapolis Junction, and more! </p>
  </div>

  <div class="column">
    <h3 class="ui dividing header"><i class="sun icon"></i> We Start Early</h3>
    <p>Full breakfast menu, coffee service, fresh fruit, yogurt and more. </p>
  </div>

  <div class="column">
    <h3 class="ui dividing header"><i class="users icon"></i>Big or Small</h3>
    <p>No order is too big or small, we'll bring lunch for 2 or 200.</p>
  </div>

  <div class="column">
    <h3 class="ui dividing header"><i class="bolt icon"></i>Fast and Easy</h3>
    <p>Our ordering process is designed to be fast and easy. Place your order in just a couple of minutes. </p>
  </div>

  <div class="column">
    <h3 class="ui dividing header"><i class="magic icon"></i>Worry-Free</h3>
    <p>Every order comes complete with everything you need. You have your work to do, leave the details to us!</p>
  </div>
</div>

<div class="ui one column page grid">
  <div class="column">
  <h1 class="ui dividing header" style="color: #822421; margin-bottom: 30px;">Reviews</h1>
  <div class="review">
        <img src="/images/google_stars.png" style="float: left; padding-right: 10px">
        <q><span class="quote"> I can't even remember how many times I've caller their catering line to order last minute office lunches or breakfasts. They have always come through for me in a bind (and every other time,) the food is always of great quality and they are NEVER late. I've worked with countless catering companies and this is by far the most reliable and best quality in the downtown area. The fact that they're such nice people is just an added bonus! </span></q>
        <br>
        <div class="reviewer">- Google Review </div>
      </div>
  </div>
</div>