<div id="catering-section1">
    <div class="container">
        <div style="height:150px;">
        </div>
        <center><h1 class="ui inverted header" style="font-size: 3.5em; color: #fff;">We <i>Specialize</i> In Corporate Catering!</h1></center>
        <div style="height:70px;">
        </div>
        <div>
            <center>
                <a class="huge ui green button" href="/main/menu"> View Our Menu </a>
                <a class="huge ui teal button" href="/main/specials"> Place an Order </a>
            </center>
        </div>
        <div style="height:40px;">
        </div>
    </div>
</div>
<div style="position: relative;" class="below-step">
  <div class="step-up-divider" style="top: -11px;"></div>
</div>
<div id="catering-how-it-works">
  <div class="ui four column page grid">
    <div class="column">
      <h3 class="ui dividing header"><i class="sun icon"></i>Title</h3>
      <p>Text</p>
    </div>
     <div class="column">
      <h3 class="ui dividing header"><i class="sun icon"></i>Title</h3>
      <p>Text</p>
    </div>
     <div class="column">
      <h3 class="ui dividing header"><i class="sun icon"></i>Title</h3>
      <p>Text</p>
    </div>
     <div class="column">
      <h3 class="ui dividing header"><i class="sun icon"></i>Title</h3>
      <p>Text</p>
    </div>
  </div>
</div>

<div class="container">
    <h1 class="ui dividing header">QUICK AND EASY ONLINE ORDERING</h1>
  </div>