<div class="jumbotron">
  <div class="container">
    <h1>Catering</h1>
    <h2>Serving Homestyle Favorites Since 1993.</h2>
    <div class="ui huge buttons">
      <a href="/catering/menu" class="ui button">View Menu</a>
      <div class="or"></div>
      <a href = "/catering/start" class="ui button">Place Order</a>
	</div>
  </div>
</div>
