<div id="catering-section1">
    <div class="container">
        <div style="height:150px;">
        </div>
        <center><h1 class="ui inverted header" style="font-size: 3.5em; color: #fff;">We <i>Specialize</i> In Corporate Catering!</h1></center>
        <div style="height:70px;">
        </div>
        <div>
            <center>
                <a class="circular huge ui green button" href="/catering/menu"> View Our Menu </a>
                <a class="circular huge ui teal button" href="/catering/order/start"> Place an Order </a>
            </center>
        </div>
        <div style="height:40px;">
        </div>
    </div>
</div>
<div style="position: relative;" class="below-step">
  <div class="step-up-divider" style="top: -11px;"></div>
</div>
<div id="catering-how-it-works">
  <div class="ui three column page grid">
    <div class="column">
      <h3 class="ui dividing header"><i class="truck icon"></i>Next-Day Delivery</h3>
      <p>We guarantee next-day delivery availability for all breakfast orders placed before 2pm, and all lunch orders placed before 3pm. If it’s after this time, submit an order and then give us a call; we’ll do everything we can to fill your order!</p>
    </div>
    <div class="column">
        <h3 class="ui dividing header"><i class="building icon"></i>Anywhere in Baltimore</h3>
        <p>We gladly deliver anywhere in Baltimore City. If you’re outside of Baltimore, but would still like us to cater your event, well.. we’re flattered! Just give us a call and we will do our best to make it work! </p>
    </div>
    <div class="column">
        <h3 class="ui dividing header"><i class="food icon"></i>Everything Included</h3>
        <p>No need to worry about finding paper goods or utensils, we will automatically provide everything needed for your order. </p>
    </div>
    <div class="column">
        <h3 class="ui dividing header"><i class="users icon"></i>Any Size</h3>
        <p>Whether your event has twelve people, or over a thousand, we'll be sure to deliver your order promptly!</p>
    </div>
    <div class="column">
        <h3 class="ui dividing header"><i class="thumbs up outline icon"></i>Human Confirmation</h3>
        <p>Every order is reviewed by a member of our staff, who will personally send you a confirmation e-mail to give you confidence that your order will be filled.</p>
    </div>
    <div class="column">
        <h3 class="ui dividing header"><i class="bolt icon"></i>Fast and Easy Order System</h3>
        <p>No need to enter everything by hand anymore. We’ve completely re-designed our order form to be intuitive, and save you time. </p>
    </div>
  </div>
</div>