<div id="catering-section1">
    <div class="container">
        <div style="height:150px;">
        </div>
        <center><h1 class="ui inverted header" style="font-size: 3.5em; color: #fff;">We <i>Specialize</i> In Corporate Catering!</h1></center>
        <div style="height:70px;">
        </div>
        <div>
            <center>
                <a class="huge ui green button" href="/catering/menu"> View Our Menu </a>
                <a class="huge ui teal button" href="/catering/order/start"> Place an Order </a>
            </center>
        </div>
        <div style="height:40px;">
        </div>
    </div>
</div>
<div style="position: relative;" class="below-step">
  <div class="step-up-divider" style="top: -11px;"></div>
</div>
<div id="catering-how-it-works">
  <div class="ui three column page grid">

  <div class="column">
    <h3 class="ui dividing header"><i class="food icon"></i>What We Serve</h3>
    <p>Sandwich platters, hot entrees, salads, beverages, desserts, coffee. Everything for any meeting, corporate event, or just lunch for the staff! </p>
  </div>

  <div class="column">
    <h3 class="ui dividing header"><i class="building icon"></i>Where We Go</h3>
    <p>Everywhere in and around baltimore. Glen Burnie, Columbia, Annapolis Junction, and more! </p>
  </div>

  <div class="column">
    <h3 class="ui dividing header"><i class="sun icon"></i> We Start Early</h3>
    <p>Full breakfast menu, coffee service, fresh fruit, yogurt and more. </p>
  </div>

  <div class="column">
    <h3 class="ui dividing header"><i class="users icon"></i>Big or Small</h3>
    <p>No order is too big or small, we'll bring lunch for 2 or 200.</p>
  </div>

  <div class="column">
    <h3 class="ui dividing header"><i class="bolt icon"></i>Fast and Easy</h3>
    <p>Our ordering process is designed to be fast and easy. Place your order in just a couple of minutes. </p>
  </div>

  <div class="column">
    <h3 class="ui dividing header"><i class="magic icon"></i>Worry-Free</h3>
    <p>Every order comes complete with everything you need. You have your work to do, leave the details to us!</p>
  </div>
</div>