<div style="height: 120px;"></div>
<div class="container">
<div class="ui middle aligned grid">
<div class="three wide column"></div>
<div class="ten wide column">
  We're very sorry, but our online ordering system is currently down for
  maintenance. We expect it to be back up in the next couple days. 
  <br><br>
  <b> In the meantime, please submit your orders via email to <a
  href="mailto:catering@davidanddads.com">catering@davidanddads.com</a>
  (preferred) or by calling us at <a href="tel:4105470550">(410)-547-0550</a>.</b>
  <br><br>
  Thank you for your patience.
</div>
</div>
</div>
<div style="height: 120px;"></div>
