<div id="login-step-section">
  <div style="height: 60px;"></div>
  <div class="container">
    <div class="removable ui five ordered medium steps" style="margin-top: 46px; margin-bottom: 35px;">
      <div class="ui active step">
        Start My Order
      </div>
      <div class="ui disabled step">
        When &amp; Where
      </div>
      <div class="ui disabled step">
        Food
      </div>
      <div class="ui disabled step">
        Payment
      </div>
      <div class="ui disabled step">
        Review &amp; Confirm
      </div>
    </div>
  </div>
  <div class="ui middle aligned grid">
  <div class="three wide column"></div>
    <div class="ten wide column">
    <h1 class = "ui dividing header" style="font-size: 3.5em;"> Reminders </h1>

    <ol style="font-size: 1.4em;">
      <li> Please order by 2pm the previous business day for breakfast, and 3pm for lunch. <br> * Large orders or certain special requests may require more advance notice! </li>
      <li> In the "Food" section, please check the checkout button when you're done to make sure everything has saved! </li>
      <li> When reviewing your order at the end, if you notice any problems, please don't hesitate to call us for help at (410)-547-0550</li>
      <li> If you're having trouble with any part of the order form, please try refreshing the page to make sure you have the latest version of our form!</li>
    </ol>
<br><br>
    <a href="/catering/order/delivery" class="ui fluid massive green submit button"> Continue! </a>
    </div>
  </div>
</div>