<h1 class="title"> David and Dad's Catering </h1>


<div class="ui relaxed grid basic segment">
  <div class="two wide column">
  </div>
  <div class="six wide center aligned column">
     <div class="ui huge header">Order Online</div>
     <a class="ui green labeled icon button" href="/session/new">
       <i class="sign in icon"></i> Sign In
     </a>
     <p> Don't have an account? <a href="/user/new">Create</a> one now!
  </div>
  <div class="ui vertical divider">
    Or
  </div>
  <div class="six wide center aligned column">
     <div class="ui huge header">Order By Phone</div>
     <a class="ui green labeled icon button" href="/catering/menu">
       <i class="list layout icon"></i> View Menu
     </a> 
     <p> Then give us a call at (410)-547-0550 </p>
  </div>
  <div class="two wide column">
  </div>
</div>
