<br><br><center>
	<div class="ui vertical segment">
	  <div class="ui huge header">Thank you! Your order has been successfully submitted. Please remember that no order is final until you've recieved a confirmation e-mail from our staff.</div>
	</div>
</center><br><br>