<div style="height: 100px">
</div>
<div class="ui page grid">
  <div class="column">
  <center>
    <h1 style="color: #000; font-size: 3.5em;">Contact Us!</h1>
    <div style="height:50px">
    </div>
    <div style="height: 200px;">
    <h3> David and Dad's Cafe and David and Dad's Express are family owned and operated. <br> Contact David Cangialosi or Kathy Brady at <a href="tel:410-547-0550">(410)-547-0550</a> or <a href="mailto:cafe@davidanddads.com">cafe@davidanddads.com</a>.</h3>
    </div>
  </center>
  </div>
</div>
<div style="height: 100px">
</div>