<div id="main-section1">
    <div class="container">
        <div style="height:300px;">
        </div>
        <div style="height:40px;">
        </div>
        <div>
            <center>
                <a class="huge ui green button" href="/catering/order/start"> View Our Menu </a>
            </center>
        </div>
        <div style="height:40px;">
        </div>
    </div>
</div>
<div id="main-hours-section">
  <img id="main-hours-sun" src="/images/sun.jpg" height="100" width="100">
  <div class="ui two column page grid">
    <div class="column">
      <h1 class="ui dividing header" style="color: #F05940;"> OPEN EARLY. </h1>
      <p>Donec eu hendrerit libero, nec venenatis massa. Maecenas aliquet tincidunt neque, a fringilla mauris fringilla a. Ut congue iaculis nulla, vel laoreet ipsum pellentesque vitae. Phasellus eu congue nulla. Proin et urna non libero commodo egestas mattis id sapien. In hac habitasse platea dictumst. </p>
    </div>
    <div class="column">
    </div>
  </div>
  <div class="ui middle aligned two column page grid">
    <div class="column">
      <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/fcangial.j6lnpdi0/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZmNhbmdpYWwiLCJhIjoiSEE2NW84ayJ9.I_SmNeUGjd30kkUHN9hPVA'></iframe>
    </div>
    <div class="column">
      <h1 class="ui dividing header"  style="color: #F05940;"> IN THE HEART OF BALTIMORE. </h1>
      <p>Donec eu hendrerit libero, nec venenatis massa. Maecenas aliquet tincidunt neque, a fringilla mauris fringilla a. Ut congue iaculis nulla, vel laoreet ipsum pellentesque vitae. Phasellus eu congue nulla. Proin et urna non libero commodo egestas mattis id sapien. In hac habitasse platea dictumst. </p>
    </div>
  </div>
</div>
<div id="cafe-front-section">
</div>
<div id="main-history-section">
  <div class="ui page grid">
    <div class="column">
        <h1 class="ui dividing header"  style="color: #F05940;"> SERVING HOMESTYLE FAVORITES SINCE 1993</h1>
        <img style="float: right; margin: 30px"src="http://historiccharlesstreet.com/wp-content/uploads/2012/04/David-Dads1.jpg" width="400" height="300">
        <p>David and Dad's Cafe opened in April 1993 as David's Courtyard Cafe in Brown's Arcade at 326 N. Charles Street. In September 1994, needing more space, we expanded into our present location as David and Dad's. Both locations were open until November 1998 when David's Courtyard Cafe was merged into a bigger and better David and Dad's Cafe. </p>
        <p>Our primary focus is to serve breakfast and lunch to the area's business community. We start the day at 6:30 AM with a full breakfast menu, with fresh baked bagels and muffins, egg platters, pancakes, waffles and much more. We are the place to come for gourmet coffees, cappucino, and all your favorite espresso drinks. For lunch we serve a full line of super deli sandwiches (featuring our own roast turkey breast), fresh salads, burgers, cheese steaks, home made soups and much much more. Daily specials include many Italian dishes made from family recipes as well as favorites like meatloaf, pot pies, and crab cakes. </p>
        <p>At David and Dad's we pride ourselves in doing things the old fashioned way (and we believe better way). All our food is prepared from scratch on the premises. We value each and every customer and our pricing is fair. </p>
        <p>David and Dad's is also the place to call for all your catering needs. We deliver all of our delicious menu items to your office for your business meetings and office parties. </p>
    </div>
  </div>
</div>