<div id="main-section1">
    <div class="container">
        <div style="height:150px;">
        </div>
        <center><h1 class="ui inverted header" style="font-size: 4em; color: #4B3F3F;">David and Dad's Charles St. Cafe</h1></center>
        <div style="height:70px;">
        </div>
        <div>
            <center>
                <a class="circular huge ui green button" href="/main/menu"> View Our Menu </a>
                <a class="circular huge ui teal button" href="/main/specials"> See Today's Specials </a>
            </center>
        </div>
        <div style="height:40px;">
        </div>
    </div>
</div>
<div style="position: relative;" class="below-step">
  <div class="step-up-divider" style="top: -11px;"></div>
</div>
<div id="main-hours-section">
  <img id="main-hours-sun" src="/images/sun.png" height="200" width="200">
  <div class="ui two column page grid">
    <div class="column">
      <h1 class="ui dividing header" style="color: #F05940;"> WE WAKE UP EARLY, JUST LIKE YOU. </h1>
      <p>On the weekdays, we open at <b class="orange">6:30</b>, and serve breakfast until <b class="orange">10:30</b>. <br>On Saturday, we open at <b class="orange">8</b>, and serve breakfast untill <b class="orange">11</b>.</p>
    </div>
    <div class="column">
    </div>
  </div>
  <div class="ui four column page grid">
    <div class="column">
      <h3 class="ui header"><i class="laptop icon"></i> Fast, Free Wi-Fi</h3>
      <p>Stay a while! Browse the internet on your laptop as you enjoy your breakfast. </p>
    </div>
    <div class="column">
      <h3 class="ui header"><i class="coffee icon"></i>Fresh, Gourmet Coffee</h3>
      <p>We serve a wide array of gourmet coffees and espresso drinks, and grind our coffee beans fresh each morning. </p>
    </div>
    <div class="column">
      <h3 class="ui header"><i class="smile icon"></i>Friendly Staff</h3>
      <p>Whether it's your first visit or your hundreth, we'll do our best to make sure you feel at home.</p>
    </div>
    <div class="column">
      <h3 class="ui header"><i class="fullscreen icon"></i>Full Portions</h3>
      <p>We’re not trying to skate by with smaller and smaller portions. We’ll make sure you leave feeling full, just like Mom always did.</p>
    </div>
  </div>
  <div class="ui middle aligned two column page grid">
    <div class="column">
      <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/fcangial.j6lnpdi0/zoompan.html?access_token=pk.eyJ1IjoiZmNhbmdpYWwiLCJhIjoiSEE2NW84ayJ9.I_SmNeUGjd30kkUHN9hPVA'></iframe>
    </div>
    <div class="column">
      <h1 class="ui dividing header"  style="color: #F05940;"> IN THE HEART OF BALTIMORE. </h1>
      <p>Located in historic cathedral hill, we're only three blocks south of the washington monument, one block from the Basillica, and one block from the Main Branch of the Enoch Pratt Library. </p>
    </div>
  </div>
  <div class="down-divider"></div>
</div>
<div id="cafe-front-section">
</div>
<div style="position: relative;" class="below-step">
  <div class="step-up-divider" style="top: -11px;"></div>
</div>
<div id="main-history-section">
  <div class="ui page grid">
    <div class="column">
        <h1 class="ui dividing header"  style="color: #F05940;"> SERVING HOMESTYLE FAVORITES SINCE 1993</h1>
        <img style="float: right; margin: 30px; border:3px solid #4B3F3F; border-radius: 5px;"src="http://historiccharlesstreet.com/wp-content/uploads/2012/04/David-Dads1.jpg" width="400" height="300">
        <p>David and Dad's Cafe opened in April 1993 as David's Courtyard Cafe in Brown's Arcade at 326 N. Charles Street. In September 1994, needing more space, we expanded into our present location as David and Dad's. Both locations were open until November 1998 when David's Courtyard Cafe was merged into a bigger and better David and Dad's Cafe. </p>
        <p>Our primary focus is to serve breakfast and lunch to the area's business community. We start the day at 6:30 AM with a full breakfast menu, with fresh baked bagels and muffins, egg platters, pancakes, waffles and much more. We are the place to come for gourmet coffees, cappucino, and all your favorite espresso drinks. For lunch we serve a full line of super deli sandwiches (featuring our own roast turkey breast), fresh salads, burgers, cheese steaks, home made soups and much much more. Daily specials include many Italian dishes made from family recipes as well as favorites like meatloaf, pot pies, and crab cakes. </p>
        <p>At David and Dad's we pride ourselves in doing things the old fashioned way (and we believe better way). All our food is prepared from scratch on the premises. We value each and every customer and our pricing is fair. </p>
        <p>David and Dad's is also the place to call for all your catering needs. We deliver all of our delicious menu items to your office for your business meetings and office parties. </p>
    </div>
  </div>
</div>