<div id="main-section1">
  <div class="container">
    <center style="margin-top: 125px;">
      <h1 style="font-family: 'bebas'; font-size: 5em; color: #352504;">David and Dad's Cafe</h1>
      <div class="double-divider sub-header"><h3 style="font-size:1.7em; font-family: 'Montserrat', sans-serif;">334 N. Charles St.<span class="spacer">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span><span class="break" style="display: none; line-height: 0.2em"><br></span>(410)-547-0550</h3></div>
      <div class="sub-header" style="padding-top: 1px;"><h1 style="font-family: 'Montserrat'; font-size: 1.3em">Our original location, serving homestyle favorites since 1993.</h1></div>
    </center>
    <div style="height: 20px"></div>
    <div>
      <center>
        <a class="huge ui green button" href="/main/menu" style="background-color: #822421; font-family: 'Montserrat', sans-serif;"> View Our Menu </a><span class="spacer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="break" style="display: none; line-height: 1.0em"><br></span><a class="huge ui teal button" href="/main/specials" style="background-color: #352504; font-family: 'Montserrat', sans-serif;"> Today's Specials </a>
      </center>
    </div>
    <div style="height: 30px"></div>
  </div>
</div>
<div id="main-hours-section">
  <img id="main-hours-sun" src="/images/sun.png" height="150" width="150" class="removable">
  <div class="ui two column stackable page grid">
    <div class="column">
      <h2 class="ui header" style="text-align: center">MONDAY - FRIDAY:<br><span style="color: #822421; font-size: 1.5em;">6:30 AM to 4:00 PM </span><br> SATURDAY: <br><span style="color: #822421; font-size: 1.5em;">8:00 AM to 2:00 PM</span></h2>
      <div class="ui two column stackable grid" style="margin-top: -15px">
        <div class="column">
          <h3 class="ui header"><i class="laptop icon"></i> Fast, Free Wi-Fi</h3>
          <p>Stay a while! Browse the internet on your laptop as you enjoy your breakfast. </p>
        </div>
        <div class="column">
          <h3 class="ui header"><i class="coffee icon"></i>Fresh, Gourmet Coffee</h3>
          <p>We serve a wide array of gourmet coffees and espresso drinks, and grind our coffee beans fresh each morning. </p>
        </div>
        <div class="column">
          <h3 class="ui header"><i class="smile icon"></i>Friendly Staff</h3>
          <p>Whether it's your first visit or your hundreth, we'll do our best to make sure you feel at home.</p>
        </div>
        <div class="column">
          <h3 class="ui header"><i class="fullscreen icon"></i>Always Fresh</h3>
          <p>At David and Dad's, we make everything on site. Always fresh, always made to order.</p>
        </div>
      </div>
    </div>
  <div class="column">
    <h1 class="ui dividing header"  style="color: #822421;"> IN THE HEART OF BALTIMORE. </h1>
    <p>Located in historic <span style="color: #822421;">Cathedral Hill</span>, we're only three blocks south of the <span style="color: #822421;">Washington Monument</span>, one block from the <span style="color: #822421;">Basillica</span>, and one block from the Main Branch of the Enoch <span style="color: #822421;">Pratt Library</span>. </p>

    <iframe width='100%' height='350px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/fcangial.j6lnpdi0/zoompan.html?access_token=pk.eyJ1IjoiZmNhbmdpYWwiLCJhIjoiSEE2NW84ayJ9.I_SmNeUGjd30kkUHN9hPVA'></iframe>
  </div>
</div>
</div>
<div id="three-picture-section">
  <div id="cafe-front-1" class="three-picture"></div>
  <div id="cafe-front-2" class="three-picture"></div>
  <div id="cafe-front-3" class="three-picture"></div>
</div>
<div id="main-history-section">
  <div class="ui two column stackable page grid">
    <div class="column">
      <h1 class="ui dividing header"  style="color: #822421;"> A Little History...</h1>
      <p>David and Dad's Cafe opened in April 1993 as David's Courtyard Cafe in Brown's Arcade at 326 N. Charles Street. In September 1994, needing more space, we expanded into our present location as David and Dad's. Both locations were open until November 1998 when David's Courtyard Cafe was merged into a bigger and better David and Dad's Cafe. </p>
      <p>Our primary focus is to serve breakfast and lunch to the area's business community. We start the day at 6:30 AM with a full breakfast menu, with fresh baked bagels and muffins, egg platters, pancakes, waffles and much more. We are the place to come for gourmet coffees, cappucino, and all your favorite espresso drinks. For lunch we serve a full line of super deli sandwiches (featuring our own roast turkey breast), fresh salads, burgers, cheese steaks, home made soups and much much more. Daily specials include many Italian dishes made from family recipes as well as favorites like meatloaf, pot pies, and crab cakes. </p>
      <p>At David and Dad's we pride ourselves in doing things the old fashioned way (and we believe better way). All our food is prepared from scratch on the premises. We value each and every customer and our pricing is fair. </p>
      <p>David and Dad's is also the place to call for all your catering needs. We deliver all of our delicious menu items to your office for your business meetings and office parties. </p>
    </div>
    <div class="column">
      <h1 class="ui dividing header"  style="color: #822421;"> What Everyone's Been Saying!</h1>
      <div class="ui left aligned one column page grid">
        <div class="column">
         <div class="review">
          <img src="/images/five_stars.png" style="float: left; padding-right: 10px;">
          <q><span class="quote">I love this place! Food is delicious and fresh! I get something different every time I go and I'm always very pleased. Love the atmosphere, friendly staff, and ordering is quick and easy.</span></q>
          <div class="reviewer" style="margin-top: 25px">- Yelp Reviewer Marta B. </div>
        </div>
      </div>
      <div class="column">
        <div class="review">
          <img src="/images/five_stars.png" style="float: left; padding-right: 10px;">
          <q><span class="quote"> In the North, this kind of hospitatlity is not seen very often and I was pleasantly surprised and impressed. </span></q>
          <br>
          <div class="reviewer" style="margin-top: 10px">- Yelp Reviewer Sarak K. </div>
        </div>
      </div>
      <div class="column">
        <div class="review">
          <img src="/images/five_stars.png" style="float: left; padding-right: 10px">
          <q><span class="quote">Everything was so tasty; including the coffee! The price  was perfect. But the best part? The customer service! This was my first time going there, but all the staff treated me as if I was a regular. I felt like part of a family gathering. Everyone was so helpful.</span></q>
          <br>
          <div class="reviewer" style="margin-top: 10px">- Yelp Reviewer Jordan M. </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
</div>
<section id="feedback">
  <div class="ui page grid">
    <div class="column">
      <h1 class="ui dividing header" style="color: #822421;"> Share Your Thoughts </h1>
        <% if (flash && flash.err) { %>
        <div class="ui red message">
          <%= flash.err %>
        </div>
      <% } %>
      <% if (flash && flash.success) { %>
        <div class="ui green message">
          <%= flash.success %>
        </div>
      <% } %>
      <form method="POST" action="/feedback" class="ui small form segment">
        <p style="border-left: 5px solid #822421; padding-left: 10px"> Whether you're a new customer, or a regular, we'd love to hear your thoughts about our website!<br> Any comments, compliments, or criticisms will be greatly appreciated! </p>
        <div class="field">
          <label>Message</label>
          <textarea name="description"></textarea>
        </div>
        <input type="submit" class="ui button" value="SEND" style="background-color: #822421; color: #fff">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
      </form>
    </div>
  </div>
</section>
<div style="height: 100px"></div>
