<div class="jumbotron">
  <div class="container">
    <h1>Main Caf&eacute;</h1>
    <h2>Serving Homestyle Favorites Since 1993.</h2>
      <a href="/main/menu" class="ui huge button">View Menu</a>
  </div>
</div>
