<div style="height: 100px">
</div>
<div class="ui page grid">
  <div class="column">
  <center>
    <h1 style="color: #000; font-size: 3.5em;">Jobs</h1>
    <div style="height:50px">
    </div>
    <div style="height: 200px;">
    <h3> All David and Dad's locations are looking for motivated individuals who enjoy food service to join our team. Openings are in customer service, food prep, and catering. We offer a great working environment and growth opportunities. You can fill out an application at any location or email a letter or resume to <a href="mailto:cafe@davidanddads.com">cafe@davidanddads.com</a>.</h3>
    </div>
  </center>
  </div>
</div>
<div style="height: 100px">
</div>