<div style="height: 100px">
</div>
<div class="ui page grid">
  <div class="column">
  <center>
    <h1 style="color: #000; font-size: 3.5em;">Jobs</h1>
  </center>
    <div style="height:50px">
    </div>
    <div>
    <%- content %>
    </div>
  </div>
</div>
<div style="height: 100px">
</div>