<div style="height: 100px">
</div>
<div class="ui page grid">
  <div class="column">
  <center>
    <h1 style="color: #000; font-size: 3.5em;">Coming soon!</h1>
  </center>
  </div>
</div>
<div style="height: 100px">
</div>