<div style="height: 100px">
</div>
<div class="ui page grid">
  <div class="column">
  <center>
    <h1 style="color: #000; font-size: 3.5em;">News</h1>
    <div style="height:50px">
    </div>
    <div style="height: 200px;">
        <h3>Coming Soon!</h3>
    </div>
  </center>
  </div>
</div>
<div style="height: 100px">
</div>