<!-- Top spacing -->
<div style="height: 100px"></div>

<div class="ui page grid">
  <div class="column">
    <%- content %>
  </div>
</div>

<!-- Bottom spacing -->
<div style="height: 100px"></div>
