<div id="step-section">
  <div class="container">
   <div class="removable ui five medium steps" style="margin-top: 46px; margin-bottom: 35px;">
      <div class="ui disabled step">
        Start My Order
      </div>
      <div class="ui disabled step">
        When &amp; Where
      </div>
      <div class="ui disabled step">
        Food
      </div>
      <div class="ui disabled step">
        Payment
      </div>
      <div class="ui active step">
        Review &amp; Confirm
      </div>
    </div>
  </div>
<div class="step-up-divider"></div>
</div>
<div style="height:30px" class="below-step"></div>

<div class="container">
      <center><div class="ui medium header">
      Uh oh! We had some trouble submitting your order. Please press the back button in your browser and try clicking on "submit" again. If the issue persist, please call us at (410)-547-0550. We apologize for the inconvenience!<br>
      </div>
      <a href="/catering/order/review" class="ui red button">Go Back</a>
      </center>
</div>