<br><br><center>
	<div class="ui vertical segment">
	  <div class="ui medium header">
	  Thank you! Your order has been successfully submitted. <br>
	  Once we have reviewed your order, we will send an e-mail to <%= session.User.email %> <br>
	  Please remember that no order is final until you've recieved a confirmation e-mail from our staff.</div>
	</div>
</center><br><br>