<div id="express-section1">
  <div class="container">
    <center style="margin-top: 100px;">
      <h1 style="font-family: 'bebas'; font-size: 5em; color: #352504;">David and Dad's Express</h1>
      <div class="sub-header" style="padding-top: 1px;"><h1 style="font-family: 'Montserrat'; font-size: 1.3em">In addition to our Charles St. cafe, we have three express locations to serve you.<br> All are open Monday through Friday for breakfast and lunch.</h1><br><a class="large teal ui button" href="/express/menu" style="background-color: #352504; font-family: 'Montserrat', sans-serif;"> View Our Express Menu </a></div>
    </center>
    <div style="height: 20px"></div>
    <div class="ui three column stackable grid">
      <div class="column"><center>
        <h2 class="ui dividing header">David and Dad's Express</h2>
        <p style="font-size: 1.3em; font-family: 'Montserrat'">Charles &amp; Fayette<br>(410) - 637  - 4840</p>
        <a class="medium ui teal button" href="/main/specials" style="background-color: #822421; font-family: 'Montserrat', sans-serif;"> Specials </a>
      </center>
    </div>
    <div class="column"><center>
      <h2 class="ui dividing header">Cafe Express</h2>
      <p style="font-size: 1.3em; font-family: 'Montserrat'">Light St. &amp; Pratt<br>(410) - 385  - 6267</p>
      <a class="medium ui teal button" href="/main/specials" style="background-color: #822421; font-family: 'Montserrat', sans-serif;"> Specials </a>
    </center>
  </div>
  <div class="column"><center>
    <h2 class="ui dividing header">Garden View Cafe</h2>
    <p style="font-size: 1.3em; font-family: 'Montserrat'">801 N. Broadway<br>(443) - 923  - 9480</p>
    <a class="medium ui teal button" href="/main/specials" style="background-color: #822421; font-family: 'Montserrat', sans-serif;"> Specials </a>
  </center>
</div>

</div>
<div style="height: 30px"></div>
</div>
</div>
<div class="ui page grid" style="border-top: 7px solid #822421;">
  <div class="column">
    <div style="height: 50px"></div>
    <table class="spaced-table" style="width: 100%; margin-bottom: 30px" >
      <tr>
        <td style="width: 50px"><span style="font-size: 3em">1</span></td>
        <td>
          <div class="ui inverted segment" style="background-color: #352504 !important">
            <h2 class="ui inverted header" style="font-family: 'Montserrat'; order-right: 2px solid #fff">
              David and Dad's Express
              <div class="sub header">Located at the corner of Charles and Fayette</div>
            </h2>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="ui two column stackable page grid">
  <div class="column">
    <iframe width='100%' height='250px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/fcangial.j7e35hep/zoompan.html?access_token=pk.eyJ1IjoiZmNhbmdpYWwiLCJhIjoiSEE2NW84ayJ9.I_SmNeUGjd30kkUHN9hPVA'></iframe>
    <div class="ui three column stackable grid">
      <div class="column">
        <h3 class="ui dividing header">Address</h3>
        <p>Blaustein Building<br>At Charles and Fayette<br>1 N. Charles St.<br>Baltimore, MD 21201</p>
      </div>
      <div class="column">
        <h3 class="ui dividing header">Hours</h3>
        <p>Monday - Friday<br> 6:30am - 3:00pm</p>
      </div>
      <div class="column">
        <h3 class="ui dividing header">Phone</h3>
        <p>(410) - 637 - 4840</p>
      </div>
    </div>
    <h3 class="ui dividing header">Today's Specials</h3>
    <div class="menu-item">
          <b class="item-name item_name" style="font-size: 1.0em">Item Name</b><span class="spacer" style="display:none;"><br></span>
          <span class="item-price"><span class="item_price">$5.00</span></span></span>
    </div>
     <div class="menu-item">
          <b class="item-name item_name" style="font-size: 1.0em">Item Name</b><span class="spacer" style="display:none;"><br></span>
          <span class="item-price"><span class="item_price">$5.00</span></span></span>
    </div>
     <div class="menu-item">
          <b class="item-name item_name" style="font-size: 1.0em">Item Name</b><span class="spacer" style="display:none;"><br></span>
          <span class="item-price"><span class="item_price">$5.00</span></span></span>
    </div>

  </div>
  <div class="column">
    <div class="ui grid">
      <div class="sixteen wide column">
        <img src="/images/IMG_2103.JPG" style="width: 100%; border-radius: 10px">
      </div>
      <div class="eight wide column">
        <img src="/images/IMG_2100.JPG" style="border-radius: 10px; width: 100%">
      </div>
      <div class="eight wide column">
        <img src="/images/IMG_2097.JPG" style="border-radius: 10px; width: 100%">
      </div>
      <div class="eight wide column">
        <img src="/images/IMG_2105.JPG" style="border-radius: 10px; width: 100%">
      </div>
      <div class="eight wide column">
        <img src="/images/IMG_2088.JPG" style="border-radius: 10px; width: 100%">
      </div>
    </div>
  </div>
</div>
<div style="height:30px"></div>
<div class="ui page grid">
  <div class="column">
    <table class="spaced-table" style="width: 100%; margin-bottom: 30px">
      <tr>
        <td style="width: 50px"><span style="font-size: 3em">2</span></td>
        <td>
          <div class="ui inverted segment" style="background-color: #822421!important;">
            <h2 class="ui inverted header"  style="font-family: 'Montserrat'; border-right: 2px solid #fff">
              Cafe Express
              <div class="sub header">Located in the lobby of the T. Rowe Price Building, down the street from the Inner Harbor</div>
            </h2>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="ui two column stackable page grid">
  <div class="column">
    <iframe width='100%' height='250px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/fcangial.j7e35hep/zoompan.html?access_token=pk.eyJ1IjoiZmNhbmdpYWwiLCJhIjoiSEE2NW84ayJ9.I_SmNeUGjd30kkUHN9hPVA'></iframe>
    <div class="ui two column grid">
      <div class="column">
        <h3 class="ui dividing header">Address</h3>
        <p>T. Rowe Price Bldg. <br> Light St. Entrance<br>100 East Pratt St.<br>Baltimore, MD 21201</p>
      </div>
      <div class="column">
      <h3 class="ui dividing header">Hours</h3>
      <p>
        Monday - Friday<br>7:00am - 3:00pm
      </p>
       <h3 class="ui dividing header">Phone</h3>
       <p>(410) - 385 - 6267</p>
      </div>
    </div>
  </div>
  <div class="column">
    <img src="http://kaitsvintagecafe.com/images/gallery/vintage%20cafe%201.jpg" width="512" height="384" style="border-radius: 10px">
  </div>
</div>
<div style="height:30px"></div>
<div class="ui page grid">
  <div class="column">
    <table class="spaced-table" style="width: 100%; margin-bottom: 30px">
      <tr>
        <td style="width: 50px"><span style="font-size: 3em">3</span></td>
        <td>
          <div class="ui inverted segment" style="background-color: #352504!important;">
            <h2 class="ui inverted header"  style="font-family: 'Montserrat'; border-right: 2px solid #fff">
              Garden View Cafe
              <div class="sub header">Located on the second floor of the Kennedy Krieger Institute</div>
            </h2>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="ui two column stackable page grid">
  <div class="column">
    <iframe width='100%' height='250px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/fcangial.j7e35hep/zoompan.html?access_token=pk.eyJ1IjoiZmNhbmdpYWwiLCJhIjoiSEE2NW84ayJ9.I_SmNeUGjd30kkUHN9hPVA'></iframe>
    <div class="ui two column grid">
      <div class="column">
        <h3 class="ui dividing header">Address</h3>
       <p>2nd Floor Kennedy Krieger Institute<br>801 N. Broadway<br>Baltimore, MD 21205</p>
      </div>
      <div class="column">
      <h3 class="ui dividing header">Hours</h3>
      <p>
        Monday - Friday<br> 7:00am - 4:00pm
      </p>
       <h3 class="ui dividing header">Phone</h3>
       <p>(443) - 923 - 9480</p>
      </div>
    </div>
  </div>
  <div class="column">
    <img src="http://kaitsvintagecafe.com/images/gallery/vintage%20cafe%201.jpg" width="512" height="384" style="border-radius: 10px">
  </div>
</div>
<div style="height:30px"></div>
<div class="ui page grid">
  <div class="column">
    <table class="spaced-table" style="width: 100%; margin-bottom: 30px">
      <tr>
        <td style="width: 50px"><span style="font-size: 3em">4</span></td>
        <td>
          <div class="ui inverted segment" style="background-color: #822421!important;">
            <h2 class="ui inverted header"  style="font-family: 'Montserrat'; border-right: 2px solid #fff">
              Coming Soon..
              <div class="sub header">Anywhere!</div>
            </h2>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="ui two column stackable page grid">
  <div class="column">
    <p>David and Dad's is looking to actively expand to more locations throughout the Baltimore Metropolitan area. If you'd be interested in having David and Dad's manage and operate a cafe in your building, please send mail to <a href="mailto:locations@davidanddads.com">locations@davidanddads.com</a></p>
  </div>
  <div class="column">
    <img src="/images/baltimore.png" height="300" style="border-radius: 10px">
  </div>
</div>
<div style="height: 150px"></div>